    <div class="Reviews__StyledRating-f1cvwc-1 bYdBQN">
        <div class="rating-wrapper"><span class="rating-num">5.0</span><span>
                <div class="sc-fzowVh hYRFqL rating"><span class="star"><span class="sc-AxjAm XbJDA"><svg
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h24v24H0z"></path>
                                    <path fill="#231815" fill-rule="nonzero"
                                        d="M13.2 2.7l2.3 5 5.4.8c1 .2 1.5 1.4.7 2.2l-3.9 4.1.9 5.7c.2 1.1-1 1.9-1.9 1.3L12 19.2l-4.7 2.6c-.9.5-2.1-.3-1.9-1.3l.9-5.7-3.9-4.1c-.7-.8-.3-2 .7-2.2l5.4-.8 2.3-5c.5-.9 1.9-.9 2.4 0z">
                                    </path>
                                </g>
                            </svg></span></span><span class="star"><span class="sc-AxjAm XbJDA"><svg
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h24v24H0z"></path>
                                    <path fill="#231815" fill-rule="nonzero"
                                        d="M13.2 2.7l2.3 5 5.4.8c1 .2 1.5 1.4.7 2.2l-3.9 4.1.9 5.7c.2 1.1-1 1.9-1.9 1.3L12 19.2l-4.7 2.6c-.9.5-2.1-.3-1.9-1.3l.9-5.7-3.9-4.1c-.7-.8-.3-2 .7-2.2l5.4-.8 2.3-5c.5-.9 1.9-.9 2.4 0z">
                                    </path>
                                </g>
                            </svg></span></span><span class="star"><span class="sc-AxjAm XbJDA"><svg
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h24v24H0z"></path>
                                    <path fill="#231815" fill-rule="nonzero"
                                        d="M13.2 2.7l2.3 5 5.4.8c1 .2 1.5 1.4.7 2.2l-3.9 4.1.9 5.7c.2 1.1-1 1.9-1.9 1.3L12 19.2l-4.7 2.6c-.9.5-2.1-.3-1.9-1.3l.9-5.7-3.9-4.1c-.7-.8-.3-2 .7-2.2l5.4-.8 2.3-5c.5-.9 1.9-.9 2.4 0z">
                                    </path>
                                </g>
                            </svg></span></span><span class="star"><span class="sc-AxjAm XbJDA"><svg
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h24v24H0z"></path>
                                    <path fill="#231815" fill-rule="nonzero"
                                        d="M13.2 2.7l2.3 5 5.4.8c1 .2 1.5 1.4.7 2.2l-3.9 4.1.9 5.7c.2 1.1-1 1.9-1.9 1.3L12 19.2l-4.7 2.6c-.9.5-2.1-.3-1.9-1.3l.9-5.7-3.9-4.1c-.7-.8-.3-2 .7-2.2l5.4-.8 2.3-5c.5-.9 1.9-.9 2.4 0z">
                                    </path>
                                </g>
                            </svg></span></span><span class="star"><span class="sc-AxjAm XbJDA"><svg
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <g fill="none" fill-rule="evenodd">
                                    <path d="M0 0h24v24H0z"></path>
                                    <path fill="#231815" fill-rule="nonzero"
                                        d="M13.2 2.7l2.3 5 5.4.8c1 .2 1.5 1.4.7 2.2l-3.9 4.1.9 5.7c.2 1.1-1 1.9-1.9 1.3L12 19.2l-4.7 2.6c-.9.5-2.1-.3-1.9-1.3l.9-5.7-3.9-4.1c-.7-.8-.3-2 .7-2.2l5.4-.8 2.3-5c.5-.9 1.9-.9 2.4 0z">
                                    </path>
                                </g>
                            </svg></span></span></div>
            </span></div><span class="review-count">(
            <!-- -->469
            <!-- --> reviews)</span>
    </div>
   
    <div class="Review__StyledReview-l5no4r-0 dooKga">
        <div class="sc-AxgMl lglNmj cui-avatar-image"><img alt="Jay Wilburn"
                src="https://assets.codementor.io/avatar/default.png"></div>
        <div class="info">
            <div class="headline">
                <div class="name">Jay Wilburn</div>
                <div class="time">May 2020</div>
            </div>
            <div class="content">Thomas is the best! Always very helpful and great at explaining things along the way.
                Kudos!</div>
        </div>
    </div><button class="sc-AxiKw hKJHIy ExpandToLoadMore__StyledButton-sc-1rygce1-0 eXfZbL">View more</button>
