    <div class="fVEKev">
        <div class="employment-title">Head of Development</div>
        <div class="employment-detail">
            <div class="company-name">FindlayWebTech</div>
            <div class="time-period">2018-04-01
                <!-- -->-
                <!-- -->Present</div>
        </div>
        <div class="description truncated">Development of various products consisting of website and mobile
            applications.</div>
        <div class="description full">Development of various products consisting of website and mobile applications.
        </div>
        <div class="categories truncated">
            <div class="category">HTML/CSS</div>
            <div class="category">PHP</div>
            <div class="category">Python</div>
            <div class="hSeVoT">View more</div>
        </div>
        <div class="categories full">
            <div class="category">HTML/CSS</div>
            <div class="category">PHP</div>
            <div class="category">Python</div>
            <div class="category">Node.js</div>
            <div class="category">React</div>
            <div class="category">JavaScript</div>
            <div class="category">React native</div>
            <div class="category">Vue</div>
            <div class="hSeVoT">View more</div>
        </div>
    </div>
