<div class="online_classes--bucket-wrapper">
    <div class="p-4">
        <div class="content-bucket eds-l-pad-vert-20 eds-l-sw-pad-vert-16 eds-l-sm-pad-vert-16 eds-l-sn-pad-vert-16">
            <div class="pt-4">
                <div class="eds-align--center-vertical eds-l-pad-hor-3 pt-4">
                    <div
                        class="bucket-header__title eds-g-cell eds-g-cell-9-12 eds-l-pad-bot-2 eds-l-lg-pad-bot-4 eds-l-lw-pad-bot-4 eds-l-ln-pad-bot-4">
                        <h2 class="eds-text-hs eds-text-color--grey-700 text-dark">Online Classes</h2>
                    </div>
                </div>
                <div class="browse-cards-container">
                    <div class="eds-show-up-md">
                        

                        <div *ngFor="let event of events" class="eds-g-cell eds-g-cell-3-12 eds-g-cell--has-overflow">
                            <div class="search-event-card eds-l-mar-vert-1">
                                <div class="eds-event-card--consumer">
                                    <div class="eds-card eds-card--neutral">
                                        <article class="eds-event-card-content eds-event-card-content--grid eds-event-card-content--standard eds-event-card-content--fixed">
                                            <a href="#" routerLink="/online-class/{{event.id}}">
                                                <div class="eds-event-card-content__image-wrapper eds-event-card-content__image-wrapper--sharp-corners">
                                                    <div class="eds-event-card-content__image-content eds-event-card-content__image-content--sharp-corners">
                                                        <img class="eds-event-card-content__image eds-max-img lazyloaded"
                                                            src="{{event.photo}}">
                                                    </div>
                                                </div>
                                            </a>

                                            <div class="eds-event-card-content__content-container">
                                                <div class="eds-event-card-content__content">
                                                    <div class="eds-event-card-content__content__principal">
                                                        <div class="eds-event-card-content__primary-content">
                                                            <div>{{event.date_from}}</div>
                                                            <!-- Wed, Nov 4, 2020 12:00 AM  -->
                                                            <a href="#" routerLink="/online-class" class="eds-event-card-content__action-link">
                                                                <h4>
                                                                    <div>{{event.name}}</div>
                                                                </h4>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>

                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>