<main class="">
    <form #skillForm="ngForm" (ngSubmit)="addSkill(skillForm)">
        <div class="">
            <h1 class="eaLbTU">Skill</h1>
            <div class="iQRHfx">
                <div class="jss62 jss65 textarea-wrapper"><label
                        class="jss77 jss55 jss82 jss70 jss66 jss55 jss71 jss74 jss73" data-shrink="true">Skill name<span class="jss83">&thinsp;*</span></label>
                    <div class="jss97 jss84 jss50 jss88 jss52 jss106 jss91 jss98 jss85">
                        <input aria-invalid="false" ngModel name="skill_name" #skill_name="ngModel"
                            class="jss107 jss92 jss61"  required="" type="text" ></div>
                </div>
              
                <div class="jss62 jss65 textarea-wrapper mt-4"><label class="jss77 jss55 jss66 jss55 jss71 jss74 jss73"
                        data-shrink="true">experience years</label>
                    <div class="jss97 jss84 jss50 jss88 jss52 jss106 jss91 jss98 jss85">
                        <input aria-invalid="false" ngModel name="experience_years" #experience_years="ngModel"
                            class="jss107 jss92 jss61"  type="number" ></div>
                </div>

                <div class="kLsSpO">
                    <div class="sc-fzpjYC gJohPa">
                        <div class="sc-fznxsB fZgLFv">
                            <div class="fkHeXT">Short Sescription *</div>
                        </div>
                        <div class="jss62 jss65 sc-fzoLag gvRhAv">
                            <div class="jss97 jss84 jss50 jss88 jss52 jss106 jss91 jss98 jss85 jss105 jss90 jss51"><textarea
                                    aria-invalid="false" class="jss107 jss92 jss61 jss109 jss94"  #details="ngModel" name="details" ngModel  placeholder=""
                                    required="" rows="3"></textarea></div>
                        </div>
                    </div>
                </div>

                
                <div class="jss62 jss65 textarea-wrapper"><label class="jss77 jss55 jss66 jss55 jss71 jss74 jss73"
                    data-shrink="true">skill photo</label>
                    <div class="jss97 jss84 jss50 jss88 jss52 jss106 jss91 jss98 jss85">
                        <input aria-invalid="false" (change)="onFileChanged($event)"
                            class="jss107 jss92 jss61"  type="file" v></div>
                </div>

                <button type="submit" class="sc-AxirZ laHIhI BasicInformationForm__StyledButton-sc-2up9d7-0 bTGmWW" >Add</button>
                <button type="button" routerLink="/mentor/profile/update/skills" (click)="skillForm.reset()" name="cancel" margin="0 0 0 10px" class="sc-AxirZ kVERMx ml-2">CANCEL</button>

            </div>
        </div>
    </form>
</main>