<p>add-skill works!</p>
<main class="kXWrdW">
    <div class="cTYPjn">
        <h1 class="eaLbTU">Skill</h1>
        <div class="iQRHfx">
            <div class="jss62 jss65 textarea-wrapper"><label
                    class="jss77 jss55 jss82 jss70 jss66 jss55 jss71 jss74 jss73" data-shrink="true">One sentence
                    describing you<span class="jss83">&thinsp;*</span></label>
                <div class="jss97 jss84 jss50 jss88 jss52 jss106 jss91 jss98 jss85"><input aria-invalid="false"
                        class="jss107 jss92 jss61" name="headline" required="" type="text" value=""></div>
            </div>
            <div class="kLsSpO">
                <div class="sc-fzpjYC gJohPa">
                    <div class="sc-fznxsB fZgLFv">
                        <div class="fkHeXT">Short bio *</div>
                      
                    </div>
                    <div class="jss62 jss65 sc-fzoLag gvRhAv">
                        <div class="jss97 jss84 jss50 jss88 jss52 jss106 jss91 jss98 jss85 jss105 jss90 jss51"><textarea
                                aria-invalid="false" class="jss107 jss92 jss61 jss109 jss94" name="about" placeholder=""
                                required="" rows="5"></textarea></div>
                    </div>
                </div>
            </div>
            <div class="jss62 jss65 textarea-wrapper"><label class="jss77 jss55 jss66 jss55 jss71 jss74 jss73"
                    data-shrink="true">Self-introduction video URL</label>
                <div class="jss97 jss84 jss50 jss88 jss52 jss106 jss91 jss98 jss85"><input aria-invalid="false"
                        class="jss107 jss92 jss61" name="videoUrl" type="text" value=""></div>
            </div>
            <button class="sc-AxirZ laHIhI BasicInformationForm__StyledButton-sc-2up9d7-0 bTGmWW" >UPDATE</button>
        </div>
    </div>
</main>