<div class="fVEKev">
    <div class="employment-title">Head of Development</div>
    <div class="employment-detail">
        <div class="company-name">FindlayWebTech</div>
        <div class="time-period">2018-04-01
            <!-- -->-
            <!-- -->Present</div>
    </div>
    <div class="description truncated">Development of various products consisting of website and mobile
        applications.</div>
    <div class="description full">Development of various products consisting of website and mobile applications.
    </div>
</div>
