<div class="fVEKev"  *ngFor="let edu of education$ | async">
    
    <div class="employment-title">{{edu.education_name}}</div>
    <div class="employment-detail">
        <div class="company-name" >{{edu.university}}</div> 
        <div class="company-name">{{edu.faculty}}</div> 
        <div class="time-period">{{edu.department}}</div>
    </div>
    <div class="employment-detail">
        <div class="company-name">{{edu.degree}}</div>
        <div class="time-period">{{edu.start_date}} - {{ edu.present ? 'present' : edu.end_date}}</div>
    </div>
    <div class="employment-detail" >{{edu.details}}</div>
</div>
