
<div class="container">
    <div class="row col-md-12">

        <div class="card o-hidden border-0 shadow-lg my-5 col-md-4"  style="height: 100%;">
            <div class="card-body p-0">
               <app-image></app-image>
            </div>
          </div>
      
          <div class="card o-hidden border-0 shadow-lg my-5 col-md-8">
              <div class="card-body p-0">
                  
                    <section class="hrJVXQ">

                        <div class="title">ABOUT ME</div>

                        <app-about ></app-about>

                    </section>

                    <section class="hrJVXQ">

                        <div class="title">Skills</div>

                        <app-skills></app-skills>

                    </section>

                    <section class="hrJVXQ">

                        <div class="title">Experience</div>

                        <app-experience></app-experience>

                    </section>

                    <section class="hrJVXQ">

                        <div class="title">Education</div>

                        <app-education></app-education>

                    </section>

                    <section class="hrJVXQ">

                        <div class="title">REVIEWS FROM CLIENTS</div>

                        <app-review></app-review>

                    </section>

                    <section class="hrJVXQ">

                        <div class="title">Social</div>

                        <app-social></app-social>

                    </section>
        
              </div>
            </div>
    </div>
   

  </div>