<div class="emsgWX p-2" *ngFor="let skill of skills$ | async">
    <div class="icon"><span class="sc-fzqAbL"><img
            style="width: 50px;"
                [src]="skill.photo"
                loading="lazy"></span></div>
    <div>
        <div class="name">
            <span>{{skill.skill_name}}</span>
        </div>
        <div class="info"><b>{{skill.experience_years}} </b> <!-- -->years
            <!-- --> experience<span> | <b>161 </b> <!-- -->endorsements</span></div>
        <div class="description truncated">{{skill.details}}</div>
        <!-- <div class="tags truncated"><a href="https://www.codementor.io/reactjs-experts" target="_blank"
                class="tag">React</a><a href="https://www.codementor.io/progressive-web-apps-experts" target="_blank"
                class="tag">Progressive web apps</a><a href="https://www.codementor.io/spa-experts" target="_blank"
                class="tag">Spa</a>
            <div class="Expertise__StyledToggler-sc-96daed-1 OxmCq">View more</div>
        </div>
        <div class="tags full"><a href="https://www.codementor.io/reactjs-experts" target="_blank"
                class="tag">React</a><a href="https://www.codementor.io/progressive-web-apps-experts" target="_blank"
                class="tag">Progressive web apps</a><a href="https://www.codementor.io/spa-experts" target="_blank"
                class="tag">Spa</a><a href="https://www.codementor.io/nodejs-expressjs-experts" target="_blank"
                class="tag">Node.js express.js</a><a href="https://www.codementor.io/html5-css3-and-jquery-experts"
                target="_blank" class="tag">Html5, css3 and jquery</a><a
                href="https://www.codementor.io/sass-css-experts" target="_blank" class="tag">Sass/css</a><a
                href="https://www.codementor.io/react-react-native-with-redux-experts" target="_blank"
                class="tag">React/react native with redux</a><a href="https://www.codementor.io/vue-experts"
                target="_blank" class="tag">Vue</a><a href="https://www.codementor.io/react-native-experts"
                target="_blank" class="tag">React native</a><a href="https://www.codementor.io/es6-experts"
                target="_blank" class="tag">Es6</a>
            <div class="Expertise__StyledToggler-sc-96daed-1 OxmCq">View more</div>
        </div> -->
    </div>
</div>