<div class="_2GjrYz">
  <div class="_2Tmo8w" *ngIf="globals.open" (click)="globals.chatUserBox=!globals.chatUserBox"
    [hidden]="globals.chatUserBox">
    <div class="_12osw9 _3o7L-N">
      <div class="_3VMvfD">
        <div class="lEBkWX fzNMeV"><span class="MSdg4Z"></span><span class="vPtPpX">in session</span></div>
        <div class="cPHra0" *ngIf="globals.chatUserdata">{{globals.chatUserdata.user.name}}</div><span
          class="sc-AxjAm dJeooa _3yW0a6" (click)="globals.closeChatBox()"><svg xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
              <path d="M0 0h24v24H0z"></path>
              <path fill="#231815" fill-rule="nonzero"
                d="M20.9 5.1l-2-2L12 10 5.1 3.1l-2 2L10 12l-6.9 6.9 2 2L12 14l6.9 6.9 2-2L14 12z"></path>
            </g>
          </svg></span>
      </div>
    </div>
  </div>



  <div class="_2Tmo8w mr-4" *ngIf="globals.open" [hidden]="!globals.chatUserBox">
    <div class="_12osw9">
      <div class="_3Qjjkp">
        <div class="_3067G7 _1puFT5" (click)="globals.chatUserBox=!globals.chatUserBox">
          <div>
            <div class="_2uAWWb JkE3cw"><span class="_1i-Jsc"></span><span>online</span></div>
          </div>
          <div class="_3TD1k6"><span class="sc-AxgMl ceMRUe cui-tooltip"><span class="cui-tooltip__trigger"
                data-tip="true" data-for="0.34059218348868003" data-place="top" data-effect="solid"
                currentitem="false"><span class="sc-AxjAm wezJI _3v-XQZ"><svg xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" viewBox="0 0 24 24">
                    <g fill="none" fill-rule="evenodd">
                      <path d="M0 0h24v24H0z"></path>
                      <path fill="#000" fill-rule="nonzero"
                        d="M6.8 2h12.4A2.8 2.8 0 0 1 22 4.8v14.4a2.8 2.8 0 0 1-2.8 2.8H6.8A2.8 2.8 0 0 1 4 19.2V4.8A2.8 2.8 0 0 1 6.8 2zm0 1.4a1.4 1.4 0 0 0-1.4 1.4v14.4a1.4 1.4 0 0 0 1.4 1.4h12.4a1.4 1.4 0 0 0 1.4-1.4V4.8a1.4 1.4 0 0 0-1.4-1.4H6.8zM12 2h6v8.692a.7.7 0 0 1-1.088.582L15 10l-1.912 1.274A.7.7 0 0 1 12 10.692V2zm1.4 7.384L15 8.317l1.6 1.067V3.4h-3.2v5.984zM2 6.7V5.3h5v1.4H2zm0 4V9.3h5v1.4H2zm0 4v-1.4h5v1.4H2zm0 4v-1.4h5v1.4H2z">
                      </path>
                    </g>
                  </svg></span></span>
            </span><span class="sc-AxgMl ceMRUe cui-tooltip"><span class="cui-tooltip__trigger" data-tip="true"
                data-for="0.7197635333825754" data-place="top" data-effect="solid" currentitem="false"><span
                  class="sc-AxjAm wezJI _2FdpAr"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <g fill="none" fill-rule="evenodd">
                      <path d="M0 0h24v24H0z"></path>
                      <path fill="#231815" fill-rule="nonzero"
                        d="M12 2c-.5 0-.9.2-1.2.7l-2.3 5-5.4.9c-1 .2-1.5 1.4-.7 2.2l3.9 4.1-.9 5.7c-.1.7.5 1.4 1.3 1.4.2 0 .4-.1.6-.2l4.7-2.6 4.7 2.6c.2.1.4.2.6.2.7 0 1.4-.7 1.3-1.5l-.9-5.7 3.9-4.1c.7-.8.3-2-.7-2.2l-5.4-.8-2.3-5c-.3-.5-.7-.7-1.2-.7zm0 1.6l2.2 4.8.4.6.7.1 5.2.8-3.8 3.9-.5.5.1.7.9 5.4-4.5-2.4-.7-.4-.7.4-4.5 2.5.9-5.4.1-.7-.5-.5L3.5 10l5.2-.8.7-.2.3-.7L12 3.6z">
                      </path>
                    </g>
                  </svg></span></span>
            </span><span class="sc-AxgMl ceMRUe cui-tooltip"><span class="cui-tooltip__trigger" data-tip="true"
                data-for="0.7963266543502472" data-place="top" data-effect="solid" currentitem="false"><span
                  class="sc-AxjAm wezJI _1xhJ4T"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <g fill="none" fill-rule="evenodd">
                      <path d="M0 0h24v24H0z"></path>
                      <path fill="#231815" fill-rule="nonzero"
                        d="M4.442 10c1.395 0 2.442 1.047 2.442 2.442 0 1.395-1.047 2.442-2.442 2.442C3.047 14.884 2 13.837 2 12.442 2 11.047 3.047 10 4.442 10zM12 10c1.395 0 2.442 1.047 2.442 2.442 0 1.395-1.047 2.442-2.442 2.442-1.395 0-2.442-1.047-2.442-2.442C9.558 11.047 10.605 10 12 10zm7.558 0C20.953 10 22 11.047 22 12.442c0 1.395-1.047 2.442-2.442 2.442-1.395 0-2.442-1.047-2.442-2.442 0-1.395 1.047-2.442 2.442-2.442zM4.442 13.256a.795.795 0 0 0 .814-.814.795.795 0 0 0-.814-.814.795.795 0 0 0-.814.814c0 .465.349.814.814.814zm7.558 0a.795.795 0 0 0 .814-.814.795.795 0 0 0-.814-.814.795.795 0 0 0-.814.814c0 .465.349.814.814.814zm7.558 0a.795.795 0 0 0 .814-.814.795.795 0 0 0-.814-.814.795.795 0 0 0-.814.814c0 .465.349.814.814.814z">
                      </path>
                    </g>
                  </svg></span></span>
            </span><span class="sc-AxgMl ceMRUe cui-tooltip"><span class="cui-tooltip__trigger" data-tip="true"
                data-for="0.922353699572531" data-place="top" data-effect="solid" currentitem="false"><span
                  class="sc-AxjAm wezJI i1Uvy3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <g fill="none" fill-rule="evenodd">
                      <path d="M0 0h24v24H0z"></path>
                      <path fill="#231815" fill-rule="nonzero"
                        d="M17.1 4.1h-13v1.4h13c.1 0 .2 0 .4.1L3.6 19.4l1 1L18.4 6.5c0 .1.1.2.1.4v13h1.4v-13c0-1.5-1.3-2.8-2.8-2.8z">
                      </path>
                    </g>
                  </svg></span></span>
            </span><span class="sc-AxgMl ceMRUe cui-tooltip">
              <span class="cui-tooltip__trigger" data-tip="true" (click)="globals.closeChatBox()"
                data-for="0.9021759932918283" data-place="top" data-effect="solid" currentitem="false"><span
                  class="sc-AxjAm wezJI _3e__zI"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <g fill="none" fill-rule="evenodd">
                      <path d="M0 0h24v24H0z"></path>
                      <path fill="#231815" fill-rule="nonzero"
                        d="M20.4 4.6l-1-1L12 11 4.6 3.6l-1 1L11 12l-7.4 7.4 1 1L12 13l7.4 7.4 1-1L13 12z">
                      </path>
                    </g>
                  </svg></span></span>
            </span></div>
        </div>
        <div class="_3YY5U1" *ngIf="globals.chatUserdata">
          <a class="_2AMUkg mr-4" 
            routerLink="/mentor/profile/{{globals.chatUserdata.user.id}}" target="_blank">
            <div class="_3xZ50G _7MnW7Z">
              <div class="_31OLHU"
                style="top:-11px; left:-15;width:45px;height:45px;background-image: url({{globals.chatUserdata.photo}});">
              </div>
            </div>
          </a>
          <div class="cdmlid mr-4" *ngIf="globals.chatUserdata">
            <div class="_1eJvtL"><a href="https://www.codementor.io/gabrielalmeida"
                target="_blank">{{globals.chatUserdata.user.name}}</a>
            </div>
            <div class="_3CDOXy" title="Jun 5, 11:17 AM (UTC-3:00)">Jun 5, 11:17 AM (UTC-3:00)</div>
          </div><span class="sc-AxjAm dOTcts -kZf95"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              viewBox="0 0 24 24">
              <g fill-rule="nonzero" fill="none">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="#000"
                  d="M2 8.982L3.982 7l7.225 7.226a1.118 1.118 0 0 0 1.585 0L20.018 7 22 8.982l-7.226 7.225A3.892 3.892 0 0 1 12 17.357a3.896 3.896 0 0 1-2.775-1.15L2 8.982z">
                </path>
              </g>
            </svg></span>
        </div>
        <div class="_3Bqqc9">
          <div class="_1g7Uck">
            <div class="_32Pwec" #scrollMe>
              <span style="font-size: 0px;"></span>

              <div *ngFor="let message of globals.chatMessages">
                <div class="_1Uuj6e _35DM2v" title="{{message.created_at}}" *ngIf="message.user_id == globals.userData.id">
                  <div class="_2AwFpM">{{message.created_at}}</div>
                  <div class="_3Q6MKh">
                    <div class="_3kB_fK"><span>{{message.message}}</span></div>
                  </div>
                </div>

                <div class="_1Uuj6e pl-2" title="{{message.created_at}}" *ngIf="message.user_id != globals.userData.id">
                  <div class="_3Q6MKh">
                    <a routerLink="/mentor/profile/{{message.user_id}}" target="_blank" *ngIf="message.user.user_type.user_type_name == 'mentor'">
                      <div class="_3xZ50G _2IMJnk">
                        <div class="_31OLHU" style="background-image: url({{message.user.profile.photo}});">
                        </div>
                      </div>
                    </a>
                      <div class="_3xZ50G _2IMJnk" *ngIf="message.user.user_type.user_type_name != 'mentor'">
                        <div class="_31OLHU" style="background-image: url({{message.user.profile.photo}});">
                        </div>
                      </div>
                    <div class="_3kB_fKk"><span>{{message.message}}</span></div>
                  </div>
                </div>
              </div>

              <span style="font-size: 0px;"></span>
            </div>
          </div>
          <div class="_1YNW8G">

          </div>
        </div>
        <div class="_1M2c2P">
          <form #chatForm="ngForm" (ngSubmit)="sendMsg(chatForm)">
            <textarea (keyup.enter)="sendMsg(chatForm)" #message="ngModel" ngModel name="message" required
              class="k9uTqT" rows="1" placeholder="Send a message..."
              style="overflow: hidden; overflow-wrap: break-word; height: 40px;"></textarea>
          </form>
          <div class="bSKs2P">
            <div class=""><span class="sc-AxgMl ceMRUe cui-tooltip"><span class="cui-tooltip__trigger" data-tip="true"
                  data-for="0.14502718289960836" data-place="top" data-effect="solid" currentitem="false"><span
                    class="sc-AxjAm dMJAGo yrgQBs"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                      viewBox="0 0 24 24">
                      <g fill="none" fill-rule="evenodd">
                        <path d="M0 0h24v24H0z"></path>
                        <path fill="#231815" fill-rule="nonzero"
                          d="M5.8 20.6c-1 0-1.9-.4-2.6-1.1-.7-.7-1.1-1.6-1.1-2.6s.4-1.9 1.1-2.6L13.5 4c.9-.9 2.2-1.4 3.5-1.4 1.3 0 2.6.5 3.5 1.4.9.9 1.4 2.2 1.4 3.5 0 1.3-.5 2.5-1.4 3.5L12 19.4l-1-1 8.5-8.5c.7-.7 1-1.5 1-2.5s-.4-1.8-1-2.5c-1.3-1.3-3.7-1.3-5 0L4.2 15.3c-.4.4-.7 1-.7 1.6 0 .6.2 1.2.7 1.6.9.9 2.3.9 3.2 0l9.4-9.4c.1-.1.2-.3.2-.5s-.1-.4-.2-.5c-.3-.3-.8-.3-1.1 0L7.8 16l-1-1 7.9-7.9c.8-.8 2.2-.8 3.1 0 .8.8.8 2.2 0 3.1l-9.4 9.4c-.7.6-1.6 1-2.6 1z">
                        </path>
                      </g>
                    </svg></span></span>
              </span></div><span class="sc-AxgMl ceMRUe cui-tooltip"><span class="cui-tooltip__trigger" data-tip="true"
                data-for="0.31767613558413" data-place="top" data-effect="solid" currentitem="false"><span
                  class="sc-AxjAm dMJAGo QE-GNO"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <g fill="none" fill-rule="evenodd">
                      <path d="M0 0h24v24H0z"></path>
                      <path fill="#231815" fill-rule="nonzero"
                        d="M20.3 6.7L17 3c-.5-.6-1.3-1-2.1-1h-9c-.7 0-1.5.3-2 .8S3 4 3 4.8v14.4c0 .8.3 1.5.8 2s1.3.8 2 .8h12.3c.7 0 1.5-.3 2-.8s.8-1.2.8-2V8.6c.1-.7-.2-1.4-.6-1.9zm-4.8-3.1c.1.1.3.2.4.3l2.9 3.3h-2.6c-.4 0-.7-.3-.7-.7V3.6zm4.1 15.6c0 .8-.6 1.4-1.4 1.4H5.9c-.4 0-.7-.1-1-.4-.3-.3-.4-.6-.4-1V4.8c0-.4.2-.7.4-1 .3-.3.6-.4 1-.4h8.3v3.9c0 .8.6 1.4 1.4 1.4h4v10.5zm-7.7-5c1.2 0 2.3.9 2.3 2s-1 2-2.3 2h-1c-.2 0-.3-.1-.3-.3v-3.4c0-.2.1-.3.3-.3h1zm0 3.3c.8 0 1.5-.6 1.5-1.3 0-.7-.7-1.3-1.5-1.3h-.5v2.6h.5zm-3.2-.7l-1.9-2.4c-.1-.1-.2-.1-.3-.1h-.1c-.2 0-.3.2-.3.3v3.6h.8v-2.5L8.8 18c.1.1.2.2.3.2h.1c.2 0 .3-.141.3-.4v-3.5h-.8v2.5zm7.45-2.513c.1 0 .283.06.35.213l1.4 3.7h-.8l-.2-.5h-1.5l-.2.5h-.8l1.4-3.7c.073-.162.25-.213.35-.213zM15.612 17H16.7l-.55-1.3-.538 1.3z">
                      </path>
                    </g>
                  </svg></span></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="_1Cs2f5">
    <div class="_113s_6">
      <div class="_2VMvDc" (click)="globals.chat=!globals.chat">Chat</div>
      <div class="_1mFtkr _1zdNTw" [hidden]="!globals.chat">
        <div class="_305dcl">
          <div class="_2liRVR U6I47J">Recent</div>
          <div class="_2liRVR">Favorite</div>
        </div>
        <div class="_1OlQUU">
          <div  *ngFor="let chat of chats">
            <div class="_19Zah1" *ngIf="globals.userData.user_type.user_type_name == 'mentor'" (click)="globals.openChatBox(chat.user_id)">
              <div class="_1cs4mq">
                <div class="_3xZ50G">
                  <div class="_31OLHU" 
                    style="background-image: url({{chat.user.profile.photo}});">
                  </div>
                </div>
                <div class="_1dTO0S _3jKZje"><span class="_3mGUPj"></span><span class="_3D1XiM">online</span></div>
              </div>
              <div class="_2R9CSa">{{chat.user.name}}<div class="_4rRep5 ContactItem__datetime">a few seconds ago</div>
              </div>
              <div><span class="sc-Axmtr kzWwuZ _3Bz2bc"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <g fill="none" fill-rule="evenodd">
                      <path d="M0 0h24v24H0z"></path>
                      <path fill="#231815" fill-rule="nonzero"
                        d="M4.442 10c1.395 0 2.442 1.047 2.442 2.442 0 1.395-1.047 2.442-2.442 2.442C3.047 14.884 2 13.837 2 12.442 2 11.047 3.047 10 4.442 10zM12 10c1.395 0 2.442 1.047 2.442 2.442 0 1.395-1.047 2.442-2.442 2.442-1.395 0-2.442-1.047-2.442-2.442C9.558 11.047 10.605 10 12 10zm7.558 0C20.953 10 22 11.047 22 12.442c0 1.395-1.047 2.442-2.442 2.442-1.395 0-2.442-1.047-2.442-2.442 0-1.395 1.047-2.442 2.442-2.442zM4.442 13.256a.795.795 0 0 0 .814-.814.795.795 0 0 0-.814-.814.795.795 0 0 0-.814.814c0 .465.349.814.814.814zm7.558 0a.795.795 0 0 0 .814-.814.795.795 0 0 0-.814-.814.795.795 0 0 0-.814.814c0 .465.349.814.814.814zm7.558 0a.795.795 0 0 0 .814-.814.795.795 0 0 0-.814-.814.795.795 0 0 0-.814.814c0 .465.349.814.814.814z">
                      </path>
                    </g>
                  </svg></span></div>
            </div>
            <div class="_19Zah1" *ngIf="globals.userData.user_type.user_type_name == 'user'" (click)="globals.openChatBox(chat.mentor_id)">
              <div class="_1cs4mq">
                <div class="_3xZ50G">
                  <div class="_31OLHU" 
                    style="background-image: url({{chat.mentor.profile.photo}});">
                  </div>
                </div>
                <div class="_1dTO0S _3jKZje"><span class="_3mGUPj"></span><span class="_3D1XiM">online</span></div>
              </div>
              <div class="_2R9CSa">{{chat.mentor.name}}<div class="_4rRep5 ContactItem__datetime">a few seconds ago</div>
              </div>
              <div><span class="sc-Axmtr kzWwuZ _3Bz2bc"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <g fill="none" fill-rule="evenodd">
                      <path d="M0 0h24v24H0z"></path>
                      <path fill="#231815" fill-rule="nonzero"
                        d="M4.442 10c1.395 0 2.442 1.047 2.442 2.442 0 1.395-1.047 2.442-2.442 2.442C3.047 14.884 2 13.837 2 12.442 2 11.047 3.047 10 4.442 10zM12 10c1.395 0 2.442 1.047 2.442 2.442 0 1.395-1.047 2.442-2.442 2.442-1.395 0-2.442-1.047-2.442-2.442C9.558 11.047 10.605 10 12 10zm7.558 0C20.953 10 22 11.047 22 12.442c0 1.395-1.047 2.442-2.442 2.442-1.395 0-2.442-1.047-2.442-2.442 0-1.395 1.047-2.442 2.442-2.442zM4.442 13.256a.795.795 0 0 0 .814-.814.795.795 0 0 0-.814-.814.795.795 0 0 0-.814.814c0 .465.349.814.814.814zm7.558 0a.795.795 0 0 0 .814-.814.795.795 0 0 0-.814-.814.795.795 0 0 0-.814.814c0 .465.349.814.814.814zm7.558 0a.795.795 0 0 0 .814-.814.795.795 0 0 0-.814-.814.795.795 0 0 0-.814.814c0 .465.349.814.814.814z">
                      </path>
                    </g>
                  </svg></span></div>
            </div>
          </div>
          <!-- <div class="_1hL2BZ"><svg class="_3nUe2g" width="60" height="60" viewBox="0 0 60 60"
              xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <path d="M0 0h60v60H0z"></path>
                <path
                  d="M38.39 36.954H19.287c-2.042 0-1.892-1.655-1.892-3.697V20.316h-5.546A1.849 1.849 0 0 0 10 22.165v20.952c0 1.02.826 1.847 1.846 1.848h2.468v3.698c0 .127.013.252.037.373.017.083.047.162.075.242.013.035.019.071.033.105.03.07.07.135.11.2.02.038.037.078.06.114.061.09.131.171.206.249a1.847 1.847 0 0 0 2.634.024l5.005-5.005h19.57a1.849 1.849 0 0 0 1.849-1.848v-.59c-.994 0-2.45-2.118-3.115-2.757l-2.388-2.816zM47.96 12.5H19.391a2.04 2.04 0 0 0-2.04 2.04v20.406a2.04 2.04 0 0 0 2.04 2.04h18.88l4.843 4.844c.37.37.88.598 1.444.598A2.06 2.06 0 0 0 46 41.83c.105-.113.182-.203.248-.302.027-.039.045-.083.07-.125.041-.073.086-.144.12-.222.015-.037.022-.077.036-.115.032-.088.064-.175.083-.268.027-.132.041-.27.041-.41v-3.402h1.36A2.04 2.04 0 0 0 50 34.946V14.541a2.04 2.04 0 0 0-2.04-2.041z"
                  stroke="#999" stroke-width="1.3"></path>
                <g transform="translate(6 6)" fill="#999">
                  <rect transform="rotate(-45 3.23 2.276)" x="2.731" y="-.379" width="1" height="5.309" rx=".5"></rect>
                  <rect transform="rotate(-20 6.818 1.173)" x="6.318" y=".154" width="1" height="2.037" rx=".5"></rect>
                  <rect transform="rotate(-80 1.734 5.828)" x="1.234" y="4.155" width="1" height="3.345" rx=".5"></rect>
                </g>
                <g transform="rotate(180 26.5 27)" fill="#999">
                  <rect transform="rotate(-45 3.98 2.98)" x="3.48" y=".822" width="1" height="4.315" rx=".5"></rect>
                  <rect transform="rotate(-15 7.164 1.505)" x="6.664" y=".111" width="1" height="2.786" rx=".5"></rect>
                  <rect transform="rotate(-70 1.742 5.9)" x="1.242" y="4.228" width="1" height="3.345" rx=".5"></rect>
                </g>
              </g>
            </svg>
            <div class="_2a2LAc">No message yet</div><a class="_3bEXPY" href="https://www.codementor.io/experts">Find
              mentors to chat</a>
          </div> -->
        </div>
        <div class="NWVi2w"><span class="sc-AxjAm JzibA _1Gmr5d"><svg xmlns="http://www.w3.org/2000/svg" width="24"
              height="24" viewBox="0 0 24 24">
              <g fill-rule="nonzero" fill="none">
                <path d="M0 0h24v24H0z"></path>
                <path fill="#000"
                  d="M16.986 15.994l5.013 5.014-.99.99-5.013-5.014a8.5 8.5 0 1 1 .99-.99zM10.5 3.4a7.108 7.108 0 0 0-7.1 7.1c0 3.915 3.185 7.1 7.1 7.1 3.915 0 7.1-3.185 7.1-7.1 0-3.915-3.185-7.1-7.1-7.1z">
                </path>
              </g>
            </svg></span><input placeholder="Search" value=""></div>
      </div>
    </div>
  </div>
</div>
<!--  -->