<mat-tab-group class="dashboard__tab-bar">
    <mat-tab label="In Progress">
        <div class="dashboard__articles-article-list" *ngIf="(codeReviewsInProgress$ | async) as requests">
            <div class="dashboard__cmty-item" *ngFor="let request of requests">
                <div class="item">
                    <img src="{{request.user_recieve.profile.photo}}"/>
                    <h5 class="text-center" style="display: block">{{request.user_recieve.name}}</h5>
                </div>
                <div class="cmty-item__body">
                    <div class="cmty-item__info">
                        <div class="cmty-item__state published">{{request.session_type}}</div>
                        <div class="cmty-item__updated-at text-dark font-weight-bold">{{request.created_at}}</div>
                    </div>
                    
                    <div class="cmty-item__content m-2">
                        <div class="cmty-item__title">{{request.title}}</div>
                    </div>
                    
                    <div class="cmty-item__categories m-2"><span class="cmty-item__category">{{request.details}}</span></div>
                    
                    <div class="cmty-item__content m-2">
                        <a href="{{request.repository_url}}" target="_blank">Code Link</a>
                    </div>

                    <div class="row ml-2"  >
                        <div class="col-md-4 alert alert-danger mr-2 p-2 text-center"  *ngFor="let day of request.session_days">
                            {{day.day}} {{day.pivot.date_time}}
                        </div>
                    </div>

                    <div class="col-md-2 mr-2 p-1 alert alert-warning ml-2 text-center" >{{request.duration}}</div>

                    <div class="cmty-item__actions m-2" *ngIf="globals.userData.user_type.user_type_name == 'mentor'">
                        <div class="cmty-item__actions-group-left">
                            <button class="btn mr-2"  (click)="response_request(request.id,'completed')">Completed</button>
                            <button class="btn mr-2"  (click)="response_request(request.id,'reject')" >Reject</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Pending Review">
        <div class="dashboard__articles-article-list" *ngIf="(codeReviewsPending$ | async) as requests">
            <div class="dashboard__cmty-item" *ngFor="let request of requests">
                <div class="item">
                    <img src="{{request.user_recieve.profile.photo}}"/>
                    <h5 class="text-center" style="display: block">{{request.user_recieve.name}}</h5>
                </div>
                <div class="cmty-item__body">
                    <div class="cmty-item__info">
                        <div class="cmty-item__state published">{{request.session_type}}</div>
                        <div class="cmty-item__updated-at text-dark font-weight-bold">{{request.created_at}}</div>
                    </div>
                    
                    <div class="cmty-item__content m-2">
                        <div class="cmty-item__title">{{request.title}}</div>
                    </div>
                    
                    <div class="cmty-item__categories m-2"><span class="cmty-item__category">{{request.details}}</span></div>
                    
                    <div class="cmty-item__content m-2">
                        <a href="{{request.repository_url}}" target="_blank">Code Link</a>
                    </div>

                    <div class="row ml-2"  >
                        <div class="col-md-4 alert alert-danger mr-2 p-2 text-center"  *ngFor="let day of request.session_days">
                            {{day.day}} {{day.pivot.date_time}}
                        </div>
                    </div>

                    <div class="col-md-2 mr-2 p-1 alert alert-warning ml-2 text-center" >{{request.duration}}</div>

                    <div class="cmty-item__actions m-2" *ngIf="globals.userData.user_type.user_type_name == 'mentor'">
                        <div class="cmty-item__actions-group-left">
                            <button class="btn mr-2"  (click)="response_request(request.id,'accept')" >Accept</button>
                            <button class="btn mr-2"  (click)="response_request(request.id,'reject')" >Reject</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Completed">
        <div class="dashboard__articles-article-list" *ngIf="(codeReviewsCompleted$ | async) as requests">
            <div class="dashboard__cmty-item" *ngFor="let request of requests">
                <div class="item">
                    <img src="{{request.user_recieve.profile.photo}}"/>
                    <h5 class="text-center" style="display: block">{{request.user_recieve.name}}</h5>
                </div>
                <div class="cmty-item__body">
                    <div class="cmty-item__info">
                        <div class="cmty-item__state published">{{request.session_type}}</div>
                        <div class="cmty-item__updated-at text-dark font-weight-bold">{{request.created_at}}</div>
                    </div>
                    
                    <div class="cmty-item__content m-2">
                        <div class="cmty-item__title">{{request.title}}</div>
                    </div>
                    
                    <div class="cmty-item__categories m-2"><span class="cmty-item__category">{{request.details}}</span></div>
                    
                    <div class="cmty-item__content m-2">
                        <a href="{{request.repository_url}}" target="_blank">Code Link</a>
                    </div>

                    <div class="row ml-2"  >
                        <div class="col-md-4 alert alert-danger mr-2 p-2 text-center"  *ngFor="let day of request.session_days">
                            {{day.day}} {{day.pivot.date_time}}
                        </div>
                    </div>

                    <div class="col-md-2 mr-2 p-1 alert alert-warning ml-2 text-center" >{{request.duration}}</div>

                    <div class="cmty-item__actions m-2" *ngIf="globals.userData.user_type.user_type_name == 'mentor'">
                        <div class="cmty-item__actions-group-left">
                            <button class="btn mr-2"  (click)="response_request(request.id,'inProgress')">In Progress</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Cancelled">
        <div class="dashboard__articles-article-list" *ngIf="(codeReviewsCanceled$ | async) as requests">
            <div class="dashboard__cmty-item" *ngFor="let request of requests">
                <div class="item">
                    <img src="{{request.user_recieve.profile.photo}}"/>
                    <h5 class="text-center" style="display: block">{{request.user_recieve.name}}</h5>
                </div>
                <div class="cmty-item__body">
                    <div class="cmty-item__info">
                        <div class="cmty-item__state published">{{request.session_type}}</div>
                        <div class="cmty-item__updated-at text-dark font-weight-bold">{{request.created_at}}</div>
                    </div>
                    
                    <div class="cmty-item__content m-2">
                        <div class="cmty-item__title">{{request.title}}</div>
                    </div>
                    
                    <div class="cmty-item__categories m-2"><span class="cmty-item__category">{{request.details}}</span></div>
                    
                    <div class="cmty-item__content m-2">
                        <a href="{{request.repository_url}}" target="_blank">Code Link</a>
                    </div>

                    <div class="row ml-2"  >
                        <div class="col-md-4 alert alert-danger mr-2 p-2 text-center"  *ngFor="let day of request.session_days">
                            {{day.day}} {{day.pivot.date_time}}
                        </div>
                    </div>

                    <div class="col-md-2 mr-2 p-1 alert alert-warning ml-2 text-center" >{{request.duration}}</div>

                    <div class="cmty-item__actions m-2" *ngIf="globals.userData.user_type.user_type_name == 'mentor'">
                        <div class="cmty-item__actions-group-left">
                            <button class="btn mr-2"  (click)="response_request(request.id,'accept')">Accept</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>