    <div class="fVEKev" *ngFor="let experience of experience$ | async">
        <div class="employment-title">{{experience.job_title}}</div>
        <div class="employment-detail">
            <div class="company-name">{{experience.company_name}}</div>
            <div class="time-period">{{experience.start_date}} - {{ experience.present ? 'present' : experience.end_date}}</div>
        </div>

        <div class="description full">{{experience.details}}</div>

        <!-- <div class="categories truncated">
            <div class="category">HTML/CSS</div>
            <div class="category">PHP</div>
            <div class="category">Python</div>
            <div class="hSeVoT">View more</div>
        </div>
        <div class="categories full">
            <div class="category">HTML/CSS</div>
            <div class="category">PHP</div>
            <div class="category">Python</div>
            <div class="category">Node.js</div>
            <div class="category">React</div>
            <div class="category">JavaScript</div>
            <div class="category">React native</div>
            <div class="category">Vue</div>
            <div class="hSeVoT">View more</div>
        </div> -->
    </div>
