<div class="container-fluid">
  
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Get Started</h1>
      <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

    <!-- Content Row -->
    <div class="row col-md-10  offset-1">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-4 col-md-6 mb-4">
        <a routerLink="/mentor" style="text-decoration: none;">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Get live help</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">1:1 mentorship session</div>
              </div>
              <div class="col-auto">
                <img src="https://web-cdn.codementor.io/static/images/Dashboard/GetStarted/get-live-help.svg" >
                <!-- <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
              </div>
            </div>
          </div>
        </div></a>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Get Course session</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">Pay with escrow</div>
              </div>
              <div class="col-auto">
                <!-- <i class="fas fa-dollar-sign fa-2x text-gray-300"></i> -->
                <img src="https://web-cdn.codementor.io/static/images/Dashboard/GetStarted/small-task.svg">
              </div>
            </div>
          </div>
        </div>
      </div>

       <!-- Earnings (Monthly) Card Example -->
       <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Get code reviewed</div>
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Pay with escrow</div>
              </div>
              <div class="col-auto">
                <!-- <i class="fas fa-dollar-sign fa-2x text-gray-300"></i> -->
                <img src="https://web-cdn.codementor.io/static/images/Dashboard/GetStarted/code-review.svg">
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>