<div class="container">
    <div class="row col-md-12">

        <div class="card o-hidden border-0 shadow-lg my-5 col-md-4 jVXVZB" style="height: 100%;">
            <div class="card-body bbGQvy">
                <a  routerLink="/mentor/profile"
                    class="Sidebar__StyledBackLink-nzskf0-5 kLUGuO"><span class="sc-AxhCb iMaKXL"><svg
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <g fill-rule="nonzero" fill="none">
                                <path d="M0 0h24v24H0z"></path>
                                <path fill="#000"
                                    d="M15.015 22L7.79 14.775A3.896 3.896 0 0 1 6.64 12c0-1.048.408-2.034 1.15-2.774L15.015 2l1.982 1.982-7.226 7.226a1.118 1.118 0 0 0 0 1.585l7.226 7.225L15.015 22z">
                                </path>
                            </g>
                        </svg></span>Back to My Profile</a>
                <div class=" ftRxdY">
                    <div class=" gmbnKO">EDIT PROFILE</div>
                    <a routerLink="about" routerLinkActive="active">
                        <div class="efQkpQ"><span>About Me</span></div>
                    </a>
                    <a routerLink="skills" routerLinkActive="active">
                        <div class=" efQkpQ"><span>Skills</span></div>
                    </a>
                    <a routerLink="experiences" routerLinkActive="active">
                        <div class=" efQkpQ"><span>Experience</span></div>
                    </a>
                    <a routerLink="educations" routerLinkActive="active">
                        <div class=" efQkpQ"><span>Education</span></div>
                    </a>
                    <a routerLink="socials" routerLinkActive="active">
                        <div class=" efQkpQ"><span>Social Presence</span></div>
                    </a>
                </div>
            </div>
        </div>

        <div class="card o-hidden border-0 shadow-lg my-5 col-md-8 ">
            <div class="card-body bbGQvy">

                    <!-- Begin Page Content -->
                    <router-outlet></router-outlet>

            </div>
        </div>
    </div>


</div>