<div id="__next">
    <div class="jsx-2276986956 referral-container"></div><span style="font-size:0"></span>
    <div class="Header__StyledContainer-sc-1fwjq37-0 eTQMeZ">
        <header
            class="jsscm-next-style16 jsscm-next-style22 jsscm-next-style7 jsscm-next-style1 jsscm-next-style8 jsscm-next-style14 mui-fixed jsscm-next-style2 header-bar"
            style="padding-right: 0px;">
            <a style="color: white;" class="pl-4 sidebar-brand d-flex align-items-center justify-content-center"
                routerLink="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">LiveMentor</div>
            </a>

            <div class="header">
                <ul class="sc-kgoBCf dAGSpT">
                    <li class="sc-jTzLTM ivUACb menu" color="#ffffff"><a href="#" id="">Find Developers &amp;
                            Mentors<span class="sc-bdVaJa jwIMLG"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                    height="24" viewBox="0 0 24 24">
                                    <g fill-rule="nonzero" fill="none">
                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path fill="#000"
                                            d="M2 8.982L3.982 7l7.225 7.226a1.118 1.118 0 0 0 1.585 0L20.018 7 22 8.982l-7.226 7.225A3.892 3.892 0 0 1 12 17.357a3.896 3.896 0 0 1-2.775-1.15L2 8.982z">
                                        </path>
                                    </g>
                                </svg></span></a>
                        <div class="sc-fjdhpX hALvBo">
                            <ul class="sc-VigVT iiWTfP category-groups category-groups--mentor">
                                <li>
                                    <div class="group-name"><a
                                            href="https://www.codementor.io/experts/web-programming">Web
                                            Programming</a></div>
                                    <ul style="width:130px">
                                        <li class="category"><a
                                                href="https://www.codementor.io/angularjs-experts">AngularJS</a></li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/aspdot_net-experts">ASP.NET</a></li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/django-experts">Django</a></li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/express-experts">Express</a></li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/html_css-experts">HTML/CSS</a></li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/jquery-experts">jQuery</a></li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/laravel-experts">Laravel</a></li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/nodejs-experts">Node.js</a></li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/ruby-on-rails-experts">Rails</a></li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/reactjs-experts">React</a></li>
                                        <li class="category"><a href="https://www.codementor.io/redux-experts">Redux</a>
                                        </li>
                                        <li class="category"><a href="https://www.codementor.io/vue-experts">Vue.js</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="group-name"><a
                                            href="https://www.codementor.io/experts/mobile-app-programming">Mobile
                                            App Programming</a></div>
                                    <ul style="width:initial">
                                        <li class="category"><a
                                                href="https://www.codementor.io/android-experts">Android</a></li>
                                        <li class="category"><a href="https://www.codementor.io/ios-experts">iOS</a>
                                        </li>
                                        <li class="category"><a href="https://www.codementor.io/ionic-experts">Ionic</a>
                                        </li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/kotlin-experts">Kotlin</a></li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/reactnative-experts">React Native</a>
                                        </li>
                                        <li class="category"><a href="https://www.codementor.io/swift-experts">Swift</a>
                                        </li>
                                        <li class="category"><a href="https://www.codementor.io/xcode-experts">Xcode</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="group-name"><a
                                            href="https://www.codementor.io/experts/coding">Programming Languages</a>
                                    </div>
                                    <ul style="width:initial">
                                        <li class="category"><a
                                                href="https://www.codementor.io/c_plus_plus-experts">C++</a></li>
                                        <li class="category"><a href="https://www.codementor.io/c_sharp-experts">C#</a>
                                        </li>
                                        <li class="category"><a href="https://www.codementor.io/c-experts">C</a></li>
                                        <li class="category"><a href="https://www.codementor.io/go-experts">Golang</a>
                                        </li>
                                        <li class="category"><a href="https://www.codementor.io/java-experts">Java</a>
                                        </li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/javascript-experts">JavaScript</a></li>
                                        <li class="category"><a href="https://www.codementor.io/php-experts">PHP</a>
                                        </li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/python-experts">Python</a></li>
                                        <li class="category"><a href="https://www.codementor.io/r-experts">R</a></li>
                                        <li class="category"><a href="https://www.codementor.io/ruby-experts">Ruby</a>
                                        </li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/typescript-experts">TypeScript</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="group-name"><a
                                            href="https://www.codementor.io/data-science-experts">Data Science
                                            /Engineering</a></div>
                                    <ul style="width:initial">
                                        <li class="category"><a
                                                href="https://www.codementor.io/artificial-intelligence-experts">AI</a>
                                        </li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/machine-learning-experts">Machine
                                                Learning</a></li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/matlab-experts">Matlab</a></li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/tableau-experts">Tableau</a></li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/tensorflow-experts">Tensorflow</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="group-name"><a href="https://www.codementor.io/experts/devops">Database
                                            /Operations</a>
                                    </div>
                                    <ul style="width:initial">
                                        <li class="category"><a
                                                href="https://www.codementor.io/amazon-web-services-experts">AWS</a>
                                        </li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/database-experts">Database</a></li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/docker-experts">Docker</a></li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/google-cloud-platform-experts">GCP</a>
                                        </li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/heroku-experts">Heroku</a></li>
                                        <li class="category"><a href="https://www.codementor.io/linux-experts">Linux</a>
                                        </li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/mongodb-experts">MongoDB</a></li>
                                        <li class="category"><a href="https://www.codementor.io/mysql-experts">MySQL</a>
                                        </li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/postgresql-experts">Postgres</a></li>
                                        <li class="category"><a href="https://www.codementor.io/sql-experts">SQL</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="group-name"><a
                                            href="https://www.codementor.io/experts/development-process">Others</a>
                                    </div>
                                    <ul style="width:initial">
                                        <li class="category"><a
                                                href="https://www.codementor.io/arduino-experts">Arduino</a></li>
                                        <li class="category"><a href="https://www.codementor.io/bash-experts">Bash</a>
                                        </li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/electron-experts">Electron</a></li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/firebase-experts">Firebase</a></li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/game-programming-experts">Game</a></li>
                                        <li class="category"><a href="https://www.codementor.io/git-experts">Git</a>
                                        </li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/raspberry-pi-experts">Rasberry Pi</a>
                                        </li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/selenium-webdriver-experts">Selenium
                                                WebDriver</a></li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/stripe-experts">Stripe</a></li>
                                        <li class="category"><a href="https://www.codementor.io/unity3d-experts">Unity
                                                3D</a></li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/visual-studio-experts">Visual Studio</a>
                                        </li>
                                        <li class="category"><a
                                                href="https://www.codementor.io/wordpress-experts">WordPress</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sc-jTzLTM ivUACb menu" color="#ffffff"><a
                            href="https://www.codementor.io/howitworks/mentorship" id="">How It Works</a>
                        <div class="sc-fjdhpX hALvBo"></div>
                    </li>
                    <li class="sc-jTzLTM ivUACb menu" color="#ffffff"><a routerLink="/events" href="#" id="">Online Classes</a>
                        <div class="sc-fjdhpX hALvBo"></div>
                    </li>
                </ul>
                <div class="Header__StyledCtaGroup-sc-1fwjq37-1 hPsVGw cta-group">
                    <a routerLink="/register" class="jsx-2276986956">BECOME A MENTOR</a>
                    <a routerLink="/register">SIGN UP</a>
                    <a routerLink="/login">LOG IN</a>
                </div>
            </div>
            <div class="header--mini">
                <div class="sc-kAzzGY aLkWB dropdown-menu">
                    <div class="sc-cSHVUG hihMgq dropdown-menu__icon"><span></span></div>
                    <div class="sc-chPdSV bwTpvN"><a class="sc-gqjmRU zxxJj menu-item" href="/experts">Find Developers
                            &amp;
                            Mentors</a><a class="sc-gqjmRU zxxJj menu-item"
                            href="https://www.codementor.io/howitworks/mentorship">How
                            It Works</a><a class="sc-gqjmRU zxxJj menu-item">SIGN UP</a><a
                            class="sc-gqjmRU zxxJj menu-item" href="https://arc.dev/login?service=codementor">LOG IN</a>
                    </div>
                </div>
            </div>
        </header>
    </div>


    <div class="jsx-101835301 landing-page">
        <div class="jsx-101835301 landing-page__content">

            <router-outlet></router-outlet>



            <div class="jsx-1519704066 cta">
                <div class="jsx-1519704066 cta__center">
                    <h2 class="jsx-1519704066">Get Started Today</h2>
                    <div class="jsx-1519704066 cta__actions"><button
                            class="sc-htpNat cHpcug btn-highlight cta__get-help-btn">GET
                            HELP NOW</button><a id="bottom__cta-become-a-mentor" href="/mentor/apply"
                            class="jsx-1519704066 cta__mentor-btn"><button class="sc-htpNat gFUHFV">BECOME A
                                MENTOR</button></a></div>
                </div>
            </div>
        </div>
        <footer class="sc-kpOJdX gWSpJI">
            <div class="sc-dxgOiQ CGJjZ">
                <div class="sc-jWBwVP hWZnnj">
                    <div class="sc-hMqMXs bNaENK">
                        <div class="sc-cMljjf kMIuPZ">
                            <div class="sc-jDwBTQ fiuTat">PRODUCTS</div>
                            <p class="sc-ckVGcZ kgQUUz"><a href="https://www.codementor.io/"
                                    class="sc-jKJlTe eYdGnL product-link"><span
                                        class="sc-jAaTju gVGNYc">LiveMentor</span>Find a mentor
                                    to help you in real time</a></p>
                            <p class="sc-ckVGcZ kgQUUz"><a href="https://www.codementor.io/community"
                                    class="sc-jKJlTe eYdGnL product-link"><span
                                        class="sc-jAaTju gVGNYc">Community</span>Exchange ideas
                                    with other developers</a></p>
                        </div>
                    </div>
                    <div class="sc-brqgnP gAzkoE">
                        <div>
                            <div class="sc-jDwBTQ fiuTat">PAGES</div>
                            <div class="sc-jlyJG huNdCT">
                                <a href="https://www.codementor.io/mentor/apply"
                                    class="sc-jKJlTe sc-iRbamj gRVKen">Become a
                                    LiveMentor</a>
                                <a href="https://www.codementor.io/howitworks" class="sc-jKJlTe sc-iRbamj gRVKen">How It
                                    Works</a>
                                <a href="https://www.codementor.io/experts" class="sc-jKJlTe sc-iRbamj gRVKen">Find a
                                    Mentor</a>
                                <br class="col-break desktop"><br class="col-break desktop">
                                <a href="https://www.codementor.io/students"
                                    class="sc-jKJlTe sc-iRbamj gRVKen">LiveMentor
                                    For
                                    Students</a>
                                <a href="https://www.codementor.io/code-review" class="sc-jKJlTe sc-iRbamj gRVKen">Code
                                    Review</a>
                                <a href="https://www.codementor.io/pair-programming"
                                    class="sc-jKJlTe sc-iRbamj gRVKen">Pair
                                    Programming</a>
                                <br class="col-break desktop"><br class="col-break desktop">
                                <a href="https://www.codementor.io/requests" class="sc-jKJlTe sc-iRbamj gRVKen">Solved
                                    Requests</a>
                                <a href="https://www.codementor.io/success-stories"
                                    class="sc-jKJlTe sc-iRbamj gRVKen">LiveMentor
                                    Reviews</a>
                                <a href="https://www.bestprogramminglanguagefor.me"
                                    class="sc-jKJlTe sc-iRbamj gRVKen">Best
                                    Language to
                                    Learn</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sc-eNQAEJ fsZxRU">
                    <div class="sc-kEYyzF dLBneW">© Copyright
                        <!-- -->2020
                        <!-- -->LiveMentor</div>
                    <div class="sc-kkGfuU ddAXCr">
                        <div class="sc-iAyFgw fFnWGV"><a href="https://arc.dev/cookies"
                                class="sc-jKJlTe sc-hSdWYo fsVcRO">Cookies
                                Policy</a><a href="https://arc.dev/privacy" class="sc-jKJlTe sc-hSdWYo fsVcRO">Privacy
                                Policy</a><a href="https://arc.dev/terms" class="sc-jKJlTe sc-hSdWYo fsVcRO">Terms of
                                Service</a><a href="https://support.codementor.io"
                                class="sc-jKJlTe sc-hSdWYo fsVcRO">Help
                                Center</a></div>
                        <div class="sc-eHgmQL fVWSxe"><a href="https://www.facebook.com/codementor" target="_blank"
                                rel="noreferrer nofollow" aria-label="Codementor Facebook" class="sc-cvbbAY gsRUGg"><svg
                                    aria-hidden="true" data-prefix="fab" data-icon="facebook"
                                    class="svg-inline--fa fa-facebook fa-w-14 " role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                        d="M448 56.7v398.5c0 13.7-11.1 24.7-24.7 24.7H309.1V306.5h58.2l8.7-67.6h-67v-43.2c0-19.6 5.4-32.9 33.5-32.9h35.8v-60.5c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9h-58.4v67.6h58.4V480H24.7C11.1 480 0 468.9 0 455.3V56.7C0 43.1 11.1 32 24.7 32h398.5c13.7 0 24.8 11.1 24.8 24.7z">
                                    </path>
                                </svg></a><a href="https://www.twitter.com/CodementorIO" target="_blank"
                                rel="noreferrer nofollow" aria-label="Codementor Twitter" class="sc-cvbbAY gsRUGg"><svg
                                    aria-hidden="true" data-prefix="fab" data-icon="twitter"
                                    class="svg-inline--fa fa-twitter fa-w-16 " role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path fill="currentColor"
                                        d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
                                    </path>
                                </svg></a><a href="https://www.linkedin.com/company/codementor" target="_blank"
                                rel="noreferrer nofollow" aria-label="Codementor LinkedIn" class="sc-cvbbAY gsRUGg"><svg
                                    aria-hidden="true" data-prefix="fab" data-icon="linkedin"
                                    class="svg-inline--fa fa-linkedin fa-w-14 " role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                        d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z">
                                    </path>
                                </svg></a></div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="jsx-4132240951">
        <div class="sc-ksYbfQ levQDx">
            <div class="sc-hmzhuo iBdIge">By using MyMentor, you agree to our
                <a target="_blank" href="https://www.codementor.io/cookies">Cookie Policy</a>.</div>
            <div class="sc-frDJqD edwqqY"><button class="sc-htpNat hmNlRl">accept</button></div>
        </div>
    </div>
</div>