body {
    margin: 0;
    font-family: Open Sans, sans-serif;
}

.eTQMeZ {
    margin-top: 0px;
}

.eTQMeZ .header-bar {
    box-shadow: none;
    background: transparent;
}

header.header-bar {
    top: 0;
}

.gSvWoF {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 20px;
}

a {
    color: #00b5e2;
    cursor: pointer;
    text-decoration: none;
}

.fXyjZM {
    line-height: 1em;
}

.fXyjZM svg {
    width: 200px;
    height: auto;
    margin-top: 2px;
}

.fXyjZM path {
    fill: rgb(255, 255, 255);
}

.eTQMeZ .header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-right: 12px;
    flex: 1 1 0%;
}

.eTQMeZ .header ul {
    height: 100%;
}

.ivUACb {
    position: relative;
    height: 100%;
    font-size: 14px;
}

.dAGSpT {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.dAGSpT a {
    text-decoration: none;
}

.ivUACb>a span {
    margin-left: 4px;
}

.jwIMLG svg {
    width: 14px;
    height: 14px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.jwIMLG {
    display: inline-flex;
    margin: 0px;
}

.ivUACb>a {
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: normal;
    white-space: nowrap;
    padding: 23px 16px 22px;
}

.jwIMLG svg path:last-child {
    fill: rgb(255, 255, 255);
}

.hALvBo {
    display: none;
    position: absolute;
    left: 0px;
    transform: translateY(0%);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 12px 0px, rgba(0, 0, 0, 0.24) 0px 4px 8px 0px, rgb(230, 230, 230) 0px 1px 0px 0px inset;
    border-radius: 3px;
    background: rgb(255, 255, 255);
}

.eTQMeZ .header ul {
    height: 100%;
}

.dAGSpT ul, .dAGSpT ul li {
    list-style: none;
    margin: 0px;
}

.iiWTfP {
    display: flex;
    padding: 30px 6px;
    list-style: none;
}

.dAGSpT ul, .dAGSpT ul li {
    list-style: none;
    margin: 0px;
}

.iiWTfP>li {
    padding: 0px 8px 0px 24px;
}

.iiWTfP.category-groups--mentor .group-name {
    height: 40px;
}

.iiWTfP .group-name {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    color: #4e73df;
    display: flex;
}

.iiWTfP .group-name>a {
    color: #4e73df;
}

.dAGSpT a {
    text-decoration: none;
}

.eTQMeZ .header ul {
    height: 100%;
}

.iiWTfP>li ul {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 80px;
    max-height: 270px;
    padding: 0px;
    list-style: none;
}

.iiWTfP>li ul>li {
    display: inline-block;
    white-space: nowrap;
    margin-right: 16px;
}

.dAGSpT ul, .dAGSpT ul li {
    list-style: none;
    margin: 0px;
}

.iiWTfP>li ul>li a {
    font-size: 13px;
    line-height: 1.62;
    text-align: left;
    color: rgb(0, 86, 114);
}

.dAGSpT a {
    text-decoration: none;
}

.ivUACb {
    position: relative;
    height: 100%;
    font-size: 14px;
}

.dAGSpT a {
    text-decoration: none;
}

.ivUACb>a {
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: normal;
    white-space: nowrap;
    padding: 23px 16px 22px;
}

.hALvBo {
    display: none;
    position: absolute;
    left: 0px;
    transform: translateY(0%);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 12px 0px, rgba(0, 0, 0, 0.24) 0px 4px 8px 0px, rgb(230, 230, 230) 0px 1px 0px 0px inset;
    border-radius: 3px;
    background: rgb(255, 255, 255);
}

.hPsVGw {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.hPsVGw a {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding: 21px 15px 20px 16px;
}

.eTQMeZ .header--mini {
    display: none;
}

.aLkWB {
    position: relative;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.hihMgq {
    height: 26px;
    width: 50px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.hihMgq span, .hihMgq span::before, .hihMgq span::after {
    height: 3px;
    width: 18px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out 0s;
    border-radius: 1px;
}

.bwTpvN {
    position: absolute;
    width: 220px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 3px 3px 0px;
    top: 100%;
    z-index: 4;
    display: none;
    right: 0px;
    border-top: 1px solid rgb(0, 68, 91);
}

.zxxJj {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    background: rgb(0, 68, 91);
}

a {
    cursor: pointer;
    text-decoration: none;
}

.landing-page.jsx-101835301 {
    overflow: hidden;
}

div.landing-page {
    margin-top: 0;
}

.landing-page__content.jsx-101835301 {
    min-height: calc(100vh - 351px);
}

.jumbotron.jsx-1242403178 {
    background-color: #4E73FF;
    position: relative;
    overflow: hidden;
}

.jumbotron__center.jsx-1242403178 {
    margin: auto;
    width: 90%;
    max-width: 950px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 105px;
    padding-bottom: 280px;
    text-align: center;
    color: #fff;
}

.jumbotron__center.jsx-1242403178:before {
    content: '';
    background-image: url(https://next-cdn.codementor.io/images/landing-page/bg-lines-1.png);
    background-size: cover;
    width: 400px;
    height: 325px;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    position: absolute;
    margin-left: -256px;
    bottom: 0;
}

.jumbotron__center.jsx-1242403178 h1.jsx-1242403178 {
    color: #fff;
    font-weight: bold;
    line-height: 1.3;
    position: relative;
    margin-bottom: 20px;
    white-space: pre-line;
}

.landing-page.jsx-101835301 h2, .landing-page.jsx-101835301 h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #4e73df;
}

.landing-page.jsx-101835301 h1, .landing-page.jsx-101835301 h2, .landing-page.jsx-101835301 h3 {
    font-family: 'Raleway', sans-serif;
}

.jumbotron__actions.jsx-1242403178 {
    text-align: center;
    z-index: 1;
}

.cHpcug {
    color: rgb(255, 255, 255);
    min-width: 70px;
    width: auto;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    opacity: 1;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgb(255, 107, 84);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 107, 84);
    border-image: initial;
    border-radius: 3px;
    outline: none;
    padding: 16px 32px;
}

.jumbotron__center.jsx-1242403178:after {
    content: '';
    background-image: url(https://next-cdn.codementor.io/images/landing-page/bg-lines-1.png);
    background-size: cover;
    width: 400px;
    height: 325px;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    position: absolute;
    margin-left: 630px;
    top: 108px;
}

.features.jsx-2963953577 {
    width: 90%;
    margin: 180px auto 40px auto;
    max-width: 1060px;
    position: relative;
}

.features__hero-wrap.jsx-2963953577 {
    position: absolute;
    width: 100%;
    top: -439px;
}

.features__hero.jsx-2963953577 {
    background-image: url(https://next-cdn.codementor.io/images/landing-page/hero-l.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 755px;
    height: 389px;
    margin: auto;
}

.features.jsx-2963953577 h2.jsx-2963953577 {
    margin: 60px auto;
    width: 100%;
    display: inline-block;
}

.landing-page.jsx-101835301 h2, .landing-page.jsx-101835301 h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #4e73df;
}

.features__mentors.jsx-2963953577, .features__freelancers.jsx-2963953577 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.features__mentors__content.jsx-2963953577, .features__freelancers__content.jsx-2963953577 {
    width: 450px;
    margin: 50px auto 0;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.hYwulb {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5;
    color: #4e73df;
    max-width: 440px;
    margin: 0px 0px 28px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.features__mentors.jsx-2963953577 ul.jsx-2963953577 li.jsx-2963953577, .features__freelancers.jsx-2963953577 ul.jsx-2963953577 li.jsx-2963953577 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    color: #666;
}

.elubJE {
    display: inline-flex;
    margin: 0px 20px 0px 0px;
}

.elubJE svg {
    width: 24px;
    height: 24px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.elubJE svg path:last-child {
    fill: rgb(0, 127, 158);
}

.features__mentors.jsx-2963953577 ul.jsx-2963953577>li.jsx-2963953577+li.jsx-2963953577, .features__freelancers.jsx-2963953577 ul.jsx-2963953577>li.jsx-2963953577+li.jsx-2963953577 {
    margin-top: 12px;
}

.features__mentors.jsx-2963953577 ul.jsx-2963953577 li.jsx-2963953577, .features__freelancers.jsx-2963953577 ul.jsx-2963953577 li.jsx-2963953577 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    color: #666;
}

.elubJE {
    display: inline-flex;
    margin: 0px 20px 0px 0px;
}

.elubJE svg {
    width: 24px;
    height: 24px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.elubJE svg path:last-child {
    fill: rgb(0, 127, 158);
}

.features__mentors__cta.jsx-2963953577 {
    margin-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cHpcug {
    color: rgb(255, 255, 255);
    min-width: 70px;
    width: auto;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    opacity: 1;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgb(255, 107, 84);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 107, 84);
    border-image: initial;
    border-radius: 3px;
    outline: none;
    padding: 16px 32px;
}

.features__mentors__video.jsx-2963953577 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-bottom: 40px;
}

.features__mentors__video.jsx-2963953577 img.jsx-2963953577 {
    width: 100%;
}

img {
    max-width: 100%;
}

.features__freelancers.jsx-2963953577 {
    margin-top: 40px;
}

.features__mentors.jsx-2963953577, .features__freelancers.jsx-2963953577 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.features__freelancers__video.jsx-2963953577 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-right: 40px;
    padding-bottom: 40px;
}

.features__mentors__content.jsx-2963953577, .features__freelancers__content.jsx-2963953577 {
    width: 450px;
    margin: 50px auto 0;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.landing-page.jsx-101835301 h1, .landing-page.jsx-101835301 h2, .landing-page.jsx-101835301 h3 {
    font-family: 'Raleway', sans-serif;
}

.hYwulb {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5;
    color: #4e73df;
    max-width: 440px;
    margin: 0px 0px 28px;
}

.features__mentors.jsx-2963953577 ul.jsx-2963953577, .features__freelancers.jsx-2963953577 ul.jsx-2963953577 {
    padding: 0;
}

.features__mentors.jsx-2963953577 ul.jsx-2963953577 li.jsx-2963953577, .features__freelancers.jsx-2963953577 ul.jsx-2963953577 li.jsx-2963953577 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    color: #666;
}

.elubJE {
    display: inline-flex;
    margin: 0px 20px 0px 0px;
}

.elubJE svg {
    width: 24px;
    height: 24px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.elubJE svg path:last-child {
    fill: rgb(0, 127, 158);
}

.features__freelancers__cta.jsx-2963953577 {
    margin-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cHpcug {
    color: rgb(255, 255, 255);
    min-width: 70px;
    width: auto;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    opacity: 1;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgb(255, 107, 84);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 107, 84);
    border-image: initial;
    border-radius: 3px;
    outline: none;
    padding: 16px 32px;
}

.evNyxl {
    background: rgb(214, 239, 246);
}

.bVhPNt {
    display: flex;
    padding-top: 32px;
    max-width: 1100px;
    width: 95%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: auto;
}

.dqJVXG {
    align-self: center;
    max-width: 60%;
    padding: 20px;
}

.landing-page.jsx-101835301 h1, .landing-page.jsx-101835301 h2, .landing-page.jsx-101835301 h3 {
    font-family: 'Raleway', sans-serif;
}

.gTazMQ {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5;
    color: #4e73df;
    margin: 0px;
}

.bVhPNt p {
    font-size: 20px;
    line-height: 30px;
    color: rgb(102, 102, 102);
    margin: 20px 0px 28px;
}

.bVhPNt a {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.5;
}

a {
    color: #00b5e2;
    cursor: pointer;
    text-decoration: none;
}

strong {
    font-weight: bold;
}

.jJAKVR {
    display: inline-flex;
    margin: 0px 0px 0px 8px;
}

.jJAKVR svg {
    width: 20px;
    height: 20px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.jJAKVR svg path:last-child {
    fill: rgb(0, 181, 226);
}

.bVhPNt img {
    width: 420px;
}

img {
    max-width: 100%;
}

.ipSJft {
    background: rgb(255, 255, 255);
}

.fDuDgM {
    display: flex;
    max-width: 1100px;
    width: 95%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 59px 0px 51px;
    margin: auto;
}

.fDuDgM img {
    width: 485px;
}

.lfhNUs {
    align-self: center;
    max-width: 60%;
    padding: 20px 0px 20px 60px;
}

.fKwbvn {
    display: flex;
    width: 63px;
    margin: 0px 0px 8px 2px;
}

.hlUacG {
    line-height: 1em;
}

.hlUacG svg {
    width: 100%;
    height: auto;
    margin-top: 2px;
}

.hlUacG path {
    fill: rgb(1, 15, 87);
}

.landing-page.jsx-101835301 h1, .landing-page.jsx-101835301 h2, .landing-page.jsx-101835301 h3 {
    font-family: 'Raleway', sans-serif;
}

.dxTbbN {
    font-weight: bold;
    line-height: 1.5;
    max-width: 500px;
    color: rgb(1, 15, 87);
    font-size: 36px;
    margin: 0px 0px 8px;
}

.fDuDgM p {
    font-size: 20px;
    line-height: 1.5;
    color: rgb(102, 102, 102);
    margin: 0px 0px 28px;
}

.fDuDgM a {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(7, 90, 255);
    font-size: 20px;
    line-height: 1.5;
}

.kWimTe {
    display: inline-flex;
    margin: 0px 0px 0px 8px;
}

.kWimTe svg {
    width: 20px;
    height: 20px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.kWimTe svg path:last-child {
    fill: rgb(7, 90, 255);
}

.devs.jsx-1823890159 {
    background-color: #4e73df;
    text-align: center;
    padding: 80px 20px;
}

.devs.jsx-1823890159 h2.jsx-1823890159 {
    padding: 0 20px;
    color: #fff;
    display: inline-block;
    margin: auto auto 24px;
    white-space: pre-line;
    max-width: 800px;
}

.landing-page.jsx-101835301 h2, .landing-page.jsx-101835301 h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}

.devs__list.jsx-1823890159 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 30px auto 0px auto;
    max-width: 1160px;
}

.cegVVx {
    background-color: rgb(255, 255, 255);
    display: flex;
    text-align: left;
    border-radius: 3px;
    flex: 0 0 auto;
    margin: 12px 20px;
    padding: 20px;
    transition: box-shadow 0.5s ease-out 0s;
}

.devs__photo.jsx-1823890159 {
    position: relative;
}

.devs__photo.jsx-1823890159 img.jsx-1823890159 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
}

.devs.jsx-1823890159 h4.jsx-1823890159 {
    margin: 40px 0px 0px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    padding: 0px 20px;
}

.cHpcug {
    color: rgb(255, 255, 255);
    min-width: 70px;
    width: auto;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    opacity: 1;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgb(255, 107, 84);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 107, 84);
    border-image: initial;
    border-radius: 3px;
    outline: none;
    padding: 16px 32px;
}

.what-you-find.jsx-2952454351 {
    margin: 80px 20px 40px;
}

.landing-page.jsx-101835301 h2, .landing-page.jsx-101835301 h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #4e73df;
}

.what-you-find__findings.jsx-2952454351 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

.what-you-find__find.jsx-2952454351 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    border-radius: 6px;
    box-shadow: 0 6px 12px 0 rgba(51, 51, 51, 0.1);
    border: solid 1px #e8f5f9;
    margin: 10px;
    width: 340px;
    height: 380px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px;
}

.what-you-find__find.jsx-2952454351 img.jsx-2952454351 {
    width: 150px;
    height: 150px;
}

.what-you-find__find__title.jsx-2952454351 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: #333;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.what-you-find__find__description.jsx-2952454351 {
    font-size: 14px;
    line-height: 1.5;
    color: #666;
    text-align: center;
}

.press-logos.jsx-2000141338 {
    min-height: 84px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px;
}

.press-logos.jsx-2000141338>div.jsx-2000141338 {
    margin: 6px 12px;
}

.frfNVm svg {
    width: auto;
    height: 20px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.frfNVm svg path {
    fill: rgb(153, 175, 182);
}

.stories.jsx-357882083 {
    text-align: center;
    margin: 140px 36px 112px;
}

.story.jsx-3525585494 {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    max-width: 800px;
    width: 90%;
    margin: auto;
    position: relative;
}

.story-quote--left.jsx-3525585494 {
    content: '';
    position: absolute;
    top: -54px;
    left: -40px;
}

.quote-left.jsx-3525585494 {
    background-image: url(https://next-cdn.codementor.io/images/landing-page/icons/quote-left.png);
    background-size: contain;
    width: 54px;
    height: 40px;
}

.story__user.jsx-3525585494 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    text-align: center;
    width: 200px;
}

.story__photo.jsx-3525585494 {
    width: 180px;
    height: 180px;
    border: solid 1px #e6e6e6;
    border-radius: 50%;
}

.story__name.jsx-3525585494 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 12px;
}

.story__description.jsx-3525585494 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    color: #999;
    margin-top: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.story__description.jsx-3525585494 i.jsx-3525585494 {
    font-size: 23px;
    color: #00aced;
    margin-right: 8px;
}

.story__content.jsx-3525585494 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    margin-left: 54px;
    font-size: 32px;
    line-height: 1.5;
    color: #4e73df;
    min-height: 288px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.story.jsx-3525585494 .story__content--highlight {
    background: transparent;
    font-weight: bold;
    padding: 0px;
    color: #4e73df;
}

.story-quote--right.jsx-3525585494 {
    content: '';
    position: absolute;
    bottom: -54px;
    right: -40px;
}

.quote-right.jsx-3525585494 {
    background-size: contain;
    background-image: url(https://next-cdn.codementor.io/images/landing-page/icons/quote-right.png);
    width: 54px;
    height: 40px;
}

.stories__list.jsx-357882083 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 60px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.stories__list-item.jsx-357882083 {
    margin: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    padding: 2px;
    border: solid 2px transparent;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.stories__list-item.jsx-357882083 img.jsx-357882083 {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: 0 6px 12px 0 #e1ebef;
}

.cta.jsx-1519704066 {
    background-color: #4e73df;
    padding: 24px;
    min-height: 268px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.cta.jsx-1519704066 {
    background-color: #4e73df;
    padding: 24px;
    min-height: 268px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.cta__center.jsx-1519704066 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
}

.cta.jsx-1519704066 h2.jsx-1519704066 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #fff;
}

.landing-page.jsx-101835301 h2, .landing-page.jsx-101835301 h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}

.cta__actions.jsx-1519704066 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 24px;
}

.cta.jsx-1519704066 #bottom__cta-become-a-mentor {
    margin-left: 20px;
}

.gFUHFV {
    color: rgb(255, 255, 255);
    min-width: 70px;
    width: auto;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    opacity: 1;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 3px;
    outline: none;
    padding: 16px 32px;
}

.cta.jsx-1519704066:after {
    content: '';
    background-image: url(https://next-cdn.codementor.io/images/landing-page/bg-lines-2.png);
    background-size: cover;
    width: 400px;
    height: 268px;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    position: absolute;
    margin-left: 400px;
}

.gWSpJI {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    padding-top: 2.3em;
    -webkit-font-smoothing: antialiased;
    background: #4e73df;
}

.gWSpJI {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    padding-top: 2.3em;
    -webkit-font-smoothing: antialiased;
    background: #4e73df;
}

.hWZnnj {
    display: flex;
    padding: 1em 0px 2.8em;
}

.bNaENK {
    margin-right: 1em;
    flex: 1.3 1 0%;
}

.kMIuPZ {
    margin-right: 1em;
    flex: 1 1 0%;
}

.fiuTat {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 15px;
    line-height: 20px;
}

.kgQUUz {
    line-height: 18px;
    margin-top: 0px;
    margin-bottom: 12px;
}

.eYdGnL {
    color: rgba(255, 255, 255, 0.66);
}

.gVGNYc {
    display: block;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
}

.gAzkoE {
    display: flex;
    flex: 2 1 0%;
}

.fiuTat {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 15px;
    line-height: 20px;
}

.huNdCT {
    column-count: 3;
    margin: 0px auto;
}

.gRVKen {
    color: rgba(255, 255, 255, 0.66);
    display: block;
    margin-bottom: 12px;
    line-height: 19px;
}

.fsZxRU {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(255, 255, 255, 0.3);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 1.5em 0px 1.8em;
}

.dLBneW {
    color: rgb(255, 255, 255);
}

.ddAXCr {
    display: flex;
}

.fFnWGV {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.fsVcRO:first-child {
    margin-left: 0px;
}

.fVWSxe {
    margin-left: 28px;
    display: inline-block;
}

.fsVcRO {
    color: rgba(255, 255, 255, 0.66);
}

.gsRUGg {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    color: rgb(52, 69, 74);
    margin-left: 16px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
}

div.jsx-4132240951 {
    z-index: 2;
    position: relative;
}

.levQDx {
    position: fixed;
    bottom: 31px;
    left: 0px;
    right: 0px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    white-space: normal;
    margin: 0px auto;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-image: initial;
    padding: 8px 16px;
}

.iBdIge {
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 20px;
    margin-right: 8px;
    flex: 1 1 0%;
}

.iBdIge>a {
    color: rgb(102, 102, 102);
    text-decoration: underline;
}

.edwqqY {
    width: 87px;
}

.hmNlRl {
    color: rgb(51, 51, 51);
    min-width: 70px;
    width: auto;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    opacity: 1;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-image: initial;
    border-radius: 3px;
    outline: none;
    padding: 8px 14px;
}

.CGJjZ {
    max-width: 1170px;
    width: 90%;
    margin: 0px auto;
}

.iqoCDJ .header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-right: 12px;
    flex: 1 1 0%;
}

header.header-bar {
    top: 0;
}

.jsscm-next-style2 {
    background: #4e73df;
    box-shadow: 0 1px 3px 0 rgba(51, 51, 51, 0.08);
}

.eTQMeZ .header-bar {
    box-shadow: none;
    background: #4e73df;
}

.jsscm-next-style8 {
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
}

.jsscm-next-style7 {
    width: 100%;
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
}

.iqoCDJ .header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-right: 12px;
    flex: 1 1 0%;
}

.jumbotron.jsx-1242403178 {
    position: relative;
    overflow: hidden;
}

.jumbotron.jsx-1242403178 #hero__hiw {
    margin-left: 20px;
}

.jumbotron__center.jsx-1242403178 {
    margin: auto;
    width: 90%;
    max-width: 950px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 105px;
    padding-bottom: 280px;
    text-align: center;
    color: #fff;
}

.jumbotron__center.jsx-1242403178:before {
    content: '';
    background-image: url("https://next-cdn.codementor.io/images/landing-page/bg-lines-1.png");
    background-size: cover;
    width: 400px;
    height: 325px;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    position: absolute;
    margin-left: -256px;
    bottom: 0;
}

.jumbotron__center.jsx-1242403178:after {
    content: '';
    background-image: url("https://next-cdn.codementor.io/images/landing-page/bg-lines-1.png");
    background-size: cover;
    width: 400px;
    height: 325px;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    position: absolute;
    margin-left: 630px;
    top: 108px;
}

.jumbotron__center.jsx-1242403178 h1.jsx-1242403178 {
    color: #fff;
    font-weight: bold;
    line-height: 1.3;
    position: relative;
    margin-bottom: 20px;
    white-space: pre-line;
}

.jumbotron__actions.jsx-1242403178 {
    text-align: center;
    z-index: 1;
}

@media (max-width:768px) {
    .jumbotron__center.jsx-1242403178 {
        padding-bottom: 236px;
    }
    .jumbotron__center.jsx-1242403178:before {
        margin-left: -118px;
    }
    .jumbotron__center.jsx-1242403178:after {
        margin-left: 336px;
    }
    .jumbotron__center.jsx-1242403178 h1.jsx-1242403178 {
        font-size: 36px;
    }
}

@media (max-width:430px) {
    .jumbotron__center.jsx-1242403178:before {
        display: none;
    }
    .jumbotron__center.jsx-1242403178:after {
        display: none;
    }
    .jumbotron__actions.jsx-1242403178 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .jumbotron.jsx-1242403178 #hero__hiw {
        margin: 16px 0 0 0;
    }
    .jumbotron__center.jsx-1242403178 h1.jsx-1242403178 {
        font-size: 28px;
    }
}

.features.jsx-2963953577 {
    width: 90%;
    margin: 180px auto 40px auto;
    max-width: 1060px;
    position: relative;
}

@media (max-width:1140px) {
    .features.jsx-2963953577 {
        width: 80%;
    }
}

@media (max-width:650px) {
    .features.jsx-2963953577 {
        width: 90%;
    }
}

.features__hero-wrap.jsx-2963953577 {
    position: absolute;
    width: 100%;
    top: -439px;
}

@media (max-width:768px) {
    .features.jsx-2963953577 {
        margin-top: 140px;
    }
    .features__hero-wrap.jsx-2963953577 {
        top: -362px;
    }
}

.features__hero.jsx-2963953577 {
    background-image: url("https://next-cdn.codementor.io/images/landing-page/hero-l.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 755px;
    height: 389px;
    margin: auto;
}

@media (max-width:768px) {
    .features__hero.jsx-2963953577 {
        background-image: url("https://next-cdn.codementor.io/images/landing-page/hero-m.png");
        width: 320px;
        height: 323px;
    }
}

.features.jsx-2963953577 h2.jsx-2963953577 {
    margin: 60px auto;
    width: 100%;
    display: inline-block;
}

.features__mentors.jsx-2963953577, .features__freelancers.jsx-2963953577 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.features__mentors.jsx-2963953577 h4.jsx-2963953577, .features__freelancers.jsx-2963953577 h4.jsx-2963953577 {
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    color: #666;
}

@media (max-width:650px) {
    .features__mentors.jsx-2963953577 h4.jsx-2963953577, .features__freelancers.jsx-2963953577 h4.jsx-2963953577 {
        font-size: 16px;
    }
}

.features__mentors.jsx-2963953577 ul.jsx-2963953577, .features__freelancers.jsx-2963953577 ul.jsx-2963953577 {
    padding: 0;
}

.features__mentors.jsx-2963953577 ul.jsx-2963953577>li.jsx-2963953577+li.jsx-2963953577, .features__freelancers.jsx-2963953577 ul.jsx-2963953577>li.jsx-2963953577+li.jsx-2963953577 {
    margin-top: 12px;
}

.features__mentors.jsx-2963953577 ul.jsx-2963953577 li.jsx-2963953577, .features__freelancers.jsx-2963953577 ul.jsx-2963953577 li.jsx-2963953577 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    color: #666;
}

@media (max-width:650px) {
    .features__mentors.jsx-2963953577 ul.jsx-2963953577 li.jsx-2963953577, .features__freelancers.jsx-2963953577 ul.jsx-2963953577 li.jsx-2963953577 {
        font-size: 14px;
    }
}

.features__mentors__content.jsx-2963953577, .features__freelancers__content.jsx-2963953577 {
    width: 450px;
    margin: 50px auto 0;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@media (max-width:1140px) {
    .features__mentors__content.jsx-2963953577, .features__freelancers__content.jsx-2963953577 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: flex-end;
        -webkit-box-align: flex-end;
        -ms-flex-align: flex-end;
        align-items: flex-end;
        margin-top: 0;
    }
}

@media (max-width:650px) {
    .features__mentors__content.jsx-2963953577, .features__freelancers__content.jsx-2963953577 {
        display: block;
    }
}

.features__mentors__video.jsx-2963953577 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-bottom: 40px;
}

.features__mentors__video.jsx-2963953577 img.jsx-2963953577 {
    width: 100%;
}

.features__mentors__cta.jsx-2963953577 {
    margin-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.features__freelancers.jsx-2963953577 {
    margin-top: 40px;
}

@media (max-width:768px) {
    .features__mentors.jsx-2963953577 {
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .features__freelancers.jsx-2963953577 {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 72px;
    }
}

.features__freelancers__cta.jsx-2963953577 {
    margin-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.features__freelancers__learn-more.jsx-2963953577 {
    display: block;
    margin-left: 20px;
}

.features__freelancers__video.jsx-2963953577 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-right: 40px;
    padding-bottom: 40px;
}

.features__freelancers__video.jsx-2963953577 img.jsx-2963953577 {
    width: 100%;
}

.devs.jsx-1823890159 {
    text-align: center;
    padding: 80px 20px;
}

.devs.jsx-1823890159 h2.jsx-1823890159 {
    padding: 0 20px;
    color: #fff;
    display: inline-block;
    margin: auto auto 24px;
    white-space: pre-line;
    max-width: 800px;
}

.devs__list.jsx-1823890159 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 30px auto 0px auto;
    max-width: 1160px;
}

.devs__photo.jsx-1823890159 {
    position: relative;
}

.devs__photo.jsx-1823890159 img.jsx-1823890159 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
}

.devs__categories.jsx-1823890159 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.devs__categories.jsx-1823890159>span.jsx-1823890159 {
    margin-right: 4px;
}

@media (max-width:375px) {
    .devs__photo.jsx-1823890159 img.jsx-1823890159 {
        width: 105px;
        height: 105px;
    }
}

.devs__photo.jsx-1823890159 i.jsx-1823890159 {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.devs__info.jsx-1823890159 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: left;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 180px;
    margin-left: 20px;
}

.devs__name.jsx-1823890159 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: #333;
}

@media (max-width:375px) {
    .devs__name.jsx-1823890159 {
        font-size: 18px;
    }
}

.devs__description.jsx-1823890159 {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 8px;
    color: #666;
}

.devs.jsx-1823890159 h4.jsx-1823890159 {
    margin: 40px 0px 0px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    padding: 0px 20px;
}

.what-you-find.jsx-2952454351 {
    margin: 80px 20px 40px;
}

.what-you-find__findings.jsx-2952454351 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

.what-you-find__find.jsx-2952454351 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    border-radius: 6px;
    box-shadow: 0 6px 12px 0 rgba(51, 51, 51, 0.1);
    border: solid 1px #e8f5f9;
    margin: 10px;
    width: 340px;
    height: 380px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px;
}

@media (max-width:816px) {
    .what-you-find__find.jsx-2952454351 {
        width: 320px;
        height: 377px;
        margin: 10px 4px;
        padding: 40px 26px;
    }
}

.what-you-find__find.jsx-2952454351 img.jsx-2952454351 {
    width: 150px;
    height: 150px;
}

.what-you-find__find__title.jsx-2952454351 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: #333;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.what-you-find__find__description.jsx-2952454351 {
    font-size: 14px;
    line-height: 1.5;
    color: #666;
    text-align: center;
}

@media (max-width:375px) {
    .what-you-find__find.jsx-2952454351 {
        width: 240px;
        height: 310px;
        margin: 6px;
        padding: 18px;
    }
    .what-you-find__find.jsx-2952454351 img.jsx-2952454351 {
        width: 110px;
        height: 110px;
    }
    .what-you-find__find__title.jsx-2952454351 {
        margin-top: 20px;
        font-size: 18px;
    }
    .what-you-find__find__description.jsx-2952454351 {
        font-size: 14px;
    }
}

.press-logos.jsx-2000141338 {
    min-height: 84px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px;
}

.press-logos.jsx-2000141338>div.jsx-2000141338 {
    margin: 6px 12px;
}

@media (max-width:768px) {
    .jsx-2000141338 {
        margin: 12px;
    }
}

.story.jsx-3525585494 {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    max-width: 800px;
    width: 90%;
    margin: auto;
    position: relative;
}

@media (max-width:600px) {
    .story.jsx-3525585494 {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.story.jsx-3525585494:hover, .story.jsx-3525585494:focus {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.story.jsx-3525585494:hover .story__content.jsx-3525585494 {
    color: #33778e;
}

.story.jsx-3525585494:hover .story__content--highlight {
    color: #33778e;
}

.story__user.jsx-3525585494 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    text-align: center;
    width: 200px;
}

.story__photo.jsx-3525585494 {
    width: 180px;
    height: 180px;
    border: solid 1px #e6e6e6;
    border-radius: 50%;
}

.story-quote--left.jsx-3525585494 {
    content: '';
    position: absolute;
    top: -54px;
    left: -40px;
}

.story-quote--right.jsx-3525585494 {
    content: '';
    position: absolute;
    bottom: -54px;
    right: -40px;
}

@media (max-width:800px) {
    .story__photo.jsx-3525585494 {
        width: 150px;
        height: 150px;
    }
}

@media (max-width:600px) {
    .story__photo.jsx-3525585494 {
        width: 130px;
        height: 130px;
    }
    .story-quote--left.jsx-3525585494 {
        left: 0;
    }
    .story-quote--right.jsx-3525585494 {
        right: 0;
    }
}

.story__name.jsx-3525585494 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 12px;
}

@media (max-width:800px) {
    .story__name.jsx-3525585494 {
        font-size: 20px;
    }
}

.story__description.jsx-3525585494 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    color: #999;
    margin-top: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.story__description.jsx-3525585494 i.jsx-3525585494 {
    font-size: 23px;
    color: #00aced;
    margin-right: 8px;
}

.story__content.jsx-3525585494 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    margin-left: 54px;
    font-size: 32px;
    line-height: 1.5;
    color: #003648;
    min-height: 288px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width:800px) {
    .story__content.jsx-3525585494 {
        margin-left: 20px;
        font-size: 26px;
    }
}

@media (max-width:600px) {
    .story__content.jsx-3525585494 {
        margin-left: 0px;
        margin-top: 30px;
        font-size: 20px;
        -webkit-align-items: normal;
        -webkit-box-align: normal;
        -ms-flex-align: normal;
        align-items: normal;
        min-height: 152px;
        text-align: center;
    }
}

.story.jsx-3525585494 .story__content--highlight {
    background: transparent;
    font-weight: bold;
    padding: 0px;
    color: #003648;
}

.quote-left.jsx-3525585494 {
    background-image: url(https://next-cdn.codementor.io/images/landing-page/icons/quote-left.png);
    background-size: contain;
    width: 54px;
    height: 40px;
}

.quote-right.jsx-3525585494 {
    background-size: contain;
    background-image: url(https://next-cdn.codementor.io/images/landing-page/icons/quote-right.png);
    width: 54px;
    height: 40px;
}

.stories.jsx-357882083 {
    text-align: center;
    margin: 140px 36px 112px;
}

.stories.jsx-357882083 .stories__content--highlight {
    background: transparent;
    font-weight: bold;
    padding: 0px;
    color: #003648;
}

.stories__list.jsx-357882083 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 60px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width:600px) {
    .stories__list.jsx-357882083 {
        width: 238px;
        margin: 60px auto;
    }
}

.stories__list-item.jsx-357882083 {
    margin: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    padding: 2px;
    border: solid 2px transparent;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.stories__list-item.jsx-357882083 img.jsx-357882083 {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: 0 6px 12px 0 #e1ebef;
}

.stories__list-item--active.jsx-357882083 {
    border: solid 2px #00b5e2;
}

.stories__list-item--active.jsx-357882083 img.jsx-357882083 {
    box-shadow: none;
}

.cta.jsx-1519704066 {
    background-color: #4E73FF;
    padding: 24px;
    min-height: 268px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.cta.jsx-1519704066:before {
    content: '';
    background-image: url("https://next-cdn.codementor.io/images/landing-page/bg-lines-2.png");
    background-size: cover;
    width: 400px;
    height: 268px;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    position: absolute;
    margin-left: -400px;
}

.cta.jsx-1519704066:after {
    content: '';
    background-image: url("https://next-cdn.codementor.io/images/landing-page/bg-lines-2.png");
    background-size: cover;
    width: 400px;
    height: 268px;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    position: absolute;
    margin-left: 400px;
}

.cta.jsx-1519704066 #bottom__cta-become-a-mentor {
    margin-left: 20px;
}

@media (max-width:768px) {
    .cta.jsx-1519704066:before {
        margin-left: -150px;
    }
    .cta.jsx-1519704066:after {
        margin-left: 150px;
    }
}

@media (max-width:375px) {
    .cta.jsx-1519704066:before {
        display: none;
    }
    .cta.jsx-1519704066:after {
        display: none;
    }
}

.cta.jsx-1519704066 h2.jsx-1519704066 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #fff;
}

@media (max-width:488px) {
    .cta.jsx-1519704066 h2.jsx-1519704066 {
        font-size: 28px;
    }
}

.cta__center.jsx-1519704066 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
}

.cta__actions.jsx-1519704066 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 24px;
}

@media (max-width:488px) {
    .cta__actions.jsx-1519704066 {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .cta.jsx-1519704066 #bottom__cta-become-a-mentor {
        margin: 16px 0 0 0;
    }
}

.landing-page.jsx-101835301 {
    overflow: hidden;
}

.landing-page.jsx-101835301 h1, .landing-page.jsx-101835301 h2, .landing-page.jsx-101835301 h3 {
    font-family: 'Raleway', sans-serif;
}

.landing-page.jsx-101835301 h2, .landing-page.jsx-101835301 h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #003648;
}

@media (max-width:768px) {
    .landing-page.jsx-101835301 h2, .landing-page.jsx-101835301 h1 {
        font-size: 36px;
    }
}

@media (max-width:375px) {
    .landing-page.jsx-101835301 h2, .landing-page.jsx-101835301 h1 {
        font-size: 28px;
    }
}

.landing-page__content.jsx-101835301 {
    min-height: calc(100vh - 351px);
}