body {
    margin: 0;
    font-family: Open Sans, sans-serif;
}

.eTQMeZ {
    margin-top: 0px;
}

.eTQMeZ .header-bar {
    box-shadow: none;
    background: transparent;
}

header.header-bar {
    top: 0;
}

.gSvWoF {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 20px;
}

a {
    color: #00b5e2;
    cursor: pointer;
    text-decoration: none;
}

.fXyjZM {
    line-height: 1em;
}

.fXyjZM svg {
    width: 200px;
    height: auto;
    margin-top: 2px;
}

.fXyjZM path {
    fill: rgb(255, 255, 255);
}

.eTQMeZ .header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-right: 12px;
    flex: 1 1 0%;
}

.eTQMeZ .header ul {
    height: 100%;
}

.ivUACb {
    position: relative;
    height: 100%;
    font-size: 14px;
}

.dAGSpT {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.dAGSpT a {
    text-decoration: none;
}

.ivUACb>a span {
    margin-left: 4px;
}

.jwIMLG svg {
    width: 14px;
    height: 14px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.jwIMLG {
    display: inline-flex;
    margin: 0px;
}

.ivUACb>a {
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: normal;
    white-space: nowrap;
    padding: 23px 16px 22px;
}

.jwIMLG svg path:last-child {
    fill: rgb(255, 255, 255);
}

.hALvBo {
    display: none;
    position: absolute;
    left: 0px;
    transform: translateY(0%);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 12px 0px, rgba(0, 0, 0, 0.24) 0px 4px 8px 0px, rgb(230, 230, 230) 0px 1px 0px 0px inset;
    border-radius: 3px;
    background: rgb(255, 255, 255);
}

.eTQMeZ .header ul {
    height: 100%;
}

.dAGSpT ul, .dAGSpT ul li {
    list-style: none;
    margin: 0px;
}

.iiWTfP {
    display: flex;
    padding: 30px 6px;
    list-style: none;
}

.dAGSpT ul, .dAGSpT ul li {
    list-style: none;
    margin: 0px;
}

.iiWTfP>li {
    padding: 0px 8px 0px 24px;
}

.iiWTfP.category-groups--mentor .group-name {
    height: 40px;
}

.iiWTfP .group-name {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    color: #4e73df;
    display: flex;
}

.iiWTfP .group-name>a {
    color: #4e73df;
}

.dAGSpT a {
    text-decoration: none;
}

.eTQMeZ .header ul {
    height: 100%;
}

.iiWTfP>li ul {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 80px;
    max-height: 270px;
    padding: 0px;
    list-style: none;
}

.iiWTfP>li ul>li {
    display: inline-block;
    white-space: nowrap;
    margin-right: 16px;
}

.dAGSpT ul, .dAGSpT ul li {
    list-style: none;
    margin: 0px;
}

.iiWTfP>li ul>li a {
    font-size: 13px;
    line-height: 1.62;
    text-align: left;
    color: rgb(0, 86, 114);
}

.dAGSpT a {
    text-decoration: none;
}

.ivUACb {
    position: relative;
    height: 100%;
    font-size: 14px;
}

.dAGSpT a {
    text-decoration: none;
}

.ivUACb>a {
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: normal;
    white-space: nowrap;
    padding: 23px 16px 22px;
}

.hALvBo {
    display: none;
    position: absolute;
    left: 0px;
    transform: translateY(0%);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 12px 0px, rgba(0, 0, 0, 0.24) 0px 4px 8px 0px, rgb(230, 230, 230) 0px 1px 0px 0px inset;
    border-radius: 3px;
    background: rgb(255, 255, 255);
}

.hPsVGw {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.hPsVGw a {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding: 21px 15px 20px 16px;
}

.eTQMeZ .header--mini {
    display: none;
}

.aLkWB {
    position: relative;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.hihMgq {
    height: 26px;
    width: 50px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.hihMgq span, .hihMgq span::before, .hihMgq span::after {
    height: 3px;
    width: 18px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out 0s;
    border-radius: 1px;
}

.bwTpvN {
    position: absolute;
    width: 220px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 3px 3px 0px;
    top: 100%;
    z-index: 4;
    display: none;
    right: 0px;
    border-top: 1px solid rgb(0, 68, 91);
}

.zxxJj {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    background: rgb(0, 68, 91);
}

a {
    cursor: pointer;
    text-decoration: none;
}

.landing-page.jsx-101835301 {
    overflow: hidden;
}

div.landing-page {
    margin-top: 0;
}

.landing-page__content.jsx-101835301 {
    min-height: calc(100vh - 351px);
}

.jumbotron.jsx-1242403178 {
    background-color: #4E73FF;
    position: relative;
    overflow: hidden;
}

.jumbotron__center.jsx-1242403178 {
    margin: auto;
    width: 90%;
    max-width: 950px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 105px;
    padding-bottom: 280px;
    text-align: center;
    color: #fff;
}

header.header-bar {
    top: 0;
}

.jsscm-next-style2 {
    background: #4e73df;
    box-shadow: 0 1px 3px 0 rgba(51, 51, 51, 0.08);
}

.eTQMeZ .header-bar {
    box-shadow: none;
    background: #4e73df;
}

.jsscm-next-style8 {
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
}

.jsscm-next-style7 {
    width: 100%;
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
}

.iqoCDJ .header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-right: 12px;
    flex: 1 1 0%;
}

.jumbotron.jsx-1242403178 {
    position: relative;
    overflow: hidden;
}

.jumbotron.jsx-1242403178 #hero__hiw {
    margin-left: 20px;
}

.jumbotron__center.jsx-1242403178 {
    margin: auto;
    width: 90%;
    max-width: 950px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 105px;
    padding-bottom: 280px;
    text-align: center;
    color: #fff;
}

.jumbotron__center.jsx-1242403178:before {
    content: '';
    background-image: url("https://next-cdn.codementor.io/images/landing-page/bg-lines-1.png");
    background-size: cover;
    width: 400px;
    height: 325px;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    position: absolute;
    margin-left: -256px;
    bottom: 0;
}

.jumbotron__center.jsx-1242403178:after {
    content: '';
    background-image: url("https://next-cdn.codementor.io/images/landing-page/bg-lines-1.png");
    background-size: cover;
    width: 400px;
    height: 325px;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    position: absolute;
    margin-left: 630px;
    top: 108px;
}

.jumbotron__center.jsx-1242403178 h1.jsx-1242403178 {
    color: #fff;
    font-weight: bold;
    line-height: 1.3;
    position: relative;
    margin-bottom: 20px;
    white-space: pre-line;
}

.jumbotron__actions.jsx-1242403178 {
    text-align: center;
    z-index: 1;
}

@media (max-width:768px) {
    .jumbotron__center.jsx-1242403178 {
        padding-bottom: 236px;
    }
    .jumbotron__center.jsx-1242403178:before {
        margin-left: -118px;
    }
    .jumbotron__center.jsx-1242403178:after {
        margin-left: 336px;
    }
    .jumbotron__center.jsx-1242403178 h1.jsx-1242403178 {
        font-size: 36px;
    }
}

@media (max-width:430px) {
    .jumbotron__center.jsx-1242403178:before {
        display: none;
    }
    .jumbotron__center.jsx-1242403178:after {
        display: none;
    }
    .jumbotron__actions.jsx-1242403178 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .jumbotron.jsx-1242403178 #hero__hiw {
        margin: 16px 0 0 0;
    }
    .jumbotron__center.jsx-1242403178 h1.jsx-1242403178 {
        font-size: 28px;
    }
}