<div class="js-hidden-when-expired event-listing event-listing--has-image " role="article">
    <!-- Event Listing Header -->
    <div class="notification-box--listing">
        <div class="js-notification-box" data-id="" data-message="" data-type="aaa" data-close-btn="" data-delay="">
        </div>
    </div>
    <header class="event-listing__header clrfix hide-small hide-medium">
        <div class="listing-hero-image__blurry-background fx--fade-in fx--delay-4">
            <picture>
                <source srcset="{{event.banner}}" sizes="100vw">
                <img class="listing-hero-image js-picturefill-img" data-automation="listing-hero-image" alt="">
            </picture>
        </div>
    </header>
    <div class="g-grid g-grid--page-margin-manual">
        <!-- Event Listing Body -->
        <div class="event-listing__body l-sm-pad-top-0">
            <!-- Listing Hero Details -->
            <div class="listing-hero-details__main-container fx--fade-in fx--delay-4">
                <div class="g-group">
                    <div class="g-cell g-cell-1-1 g-cell-lg-8-12 g-cell--no-gutters listing-hero--image-container">
                        <div class="listing-hero listing-hero--bkg clrfix fx--delay-6 fx--fade-in">
                            <picture>
                                <source srcset="{{event.banner}}" sizes="750vm">
                                <img class="listing-hero-image js-picturefill-img listing-image--main"
                                    data-automation="listing-hero-image" alt="" style="height: 560px;">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Listing Card Panel -->

            <div class="listing-panel-wrapper js-listing-panel-wrapper clrfix" role="menu">

                <div class="g-cell g-cell-1-1 g-cell-lg-4-12 g-cell--no-gutters p-4">
                    <div class="l-sm-pad-top-1">

                        <div class="micro-ticket-box">
                            <div class="micro-ticket-box__body js-micro-ticket-box__body">
                                <span class="js-micro-order-container  ">
                                    <span class="micro-ticket-box__btn-wrapper">
                                        <a class="micro-ticket-box__btn btn btn--epic btn--responsive  js-embed-ticket-modal-btn "
                                            href="#" routerLink="/register">Register</a>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Listing Card Info -->
            <section class="listing-info clrfix pb-4">
                <div
                    class="listing-info__body l-sm-pad-vert-0 l-sm-pad-vert-6 clrfix g-group g-group--page-margin-reset">
                    <div class="g-cell g-cell-1-1 g-cell-lg-11-12 g-offset-lg-1-12 l-mar-stack l-section-stack">
                        <div class="g-group">
                            <div class="g-cell g-cell-1-1 g-cell-md-7-12 g-cell--no-gutters l-lg-pad-right-6">

                                <div class="g-group l-mar-bot-6 l-sm-mar-bot-4">
                                    <div class="g-cell g-cell-2-12 show-small">
                                    </div>
                                    <div class="structured-content g-cell g-cell-10-12 g-cell-md-1-1">
                                        <h1 class="text-body-large hide-small pt-4">
                                            {{event.name}}
                                        </h1>
                                        <h3  class="label-primary l-mar-bot-2 pt-4" data-automation="listing-info-language">
                                            About this Event
                                        </h3>
                                        <div class="has-user-generated-content" data-automation="about-this-event-sc">
                                            <div
                                                class="structured-content-rich-text structured-content__module l-align-left l-mar-vert-6 l-sm-mar-vert-4 text-body-medium">
                                                <p>{{event.about}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="g-cell g-cell-12-12 g-cell-md-4-12 g-offset-md-1-12 g-cell--no-gutters l-lg-pad-left-6">
                                <div class="event-details hide-small">
                                    <h3 class="label-primary l-mar-bot-2" data-automation="listing-info-language">Date
                                        and Time</h3>
                                    <div class="event-details__data">
                                        <meta content="2020-11-17T18:00:00-06:00">
                                        <meta content="2020-11-17T20:00:00-06:00">
                                        <time class="clrfix" data-automation="event-details-time">
                                            <p class="js-date-time-first-line">Date from : {{event.date_from}}</p>
                                            <p class="js-date-time-first-line">Date to : {{event.date_to}}</p>
                                            <p class="js-date-time-second-line">{{event.time_at}}</p>
                                        </time>
                                    </div>
                                    <h3 class="label-primary l-mar-bot-2">Location</h3>
                                    <div class="event-details__data">
                                        <p class="eds-text-weight--heavy">{{event.location}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="js-listing-social-stream"></div>
                <div class="js-defer-map"></div>
            </section>
        </div>
    </div>
</div>