<div class="js-hidden-when-expired event-listing event-listing--has-image " role="article">
    <!-- Event Listing Header -->
    <div class="notification-box--listing">
        <div class="js-notification-box" data-id="" data-message="" data-type="aaa" data-close-btn="" data-delay="">
        </div>
    </div>
    <header class="event-listing__header clrfix hide-small hide-medium">
        <div class="listing-hero-image__blurry-background fx--fade-in fx--delay-4">
            <picture
                content="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F116139519%2F112506421457%2F1%2Foriginal.20201028-183748?w=1000&amp;auto=format%2Ccompress&amp;q=75&amp;sharp=10&amp;rect=0%2C0%2C2160%2C1080&amp;s=178f0f4e368eefc7b2ebc3e53a7d26d4">
                <source srcset="
                https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F116139519%2F112506421457%2F1%2Foriginal.20201028-183748?w=50&amp;auto=format%2Ccompress&amp;q=75&amp;sharp=10&amp;rect=0%2C0%2C2160%2C1080&amp;s=0f23f2729df2ff59a6eb48fa193fe97c 50w
            " sizes="100vw">
                <img class="listing-hero-image js-picturefill-img" data-automation="listing-hero-image" alt="">
            </picture>
        </div>
    </header>
    <div class="g-grid g-grid--page-margin-manual">
        <!-- Event Listing Body -->
        <div class="event-listing__body l-sm-pad-top-0">
            <!-- Listing Hero Details -->
            <div class="listing-hero-details__main-container fx--fade-in fx--delay-4">
                <div class="g-group">
                    <div class="g-cell g-cell-1-1 g-cell-lg-8-12 g-cell--no-gutters listing-hero--image-container">
                        <div class="listing-hero__badge-container js-hero-badge-container">
                            <span class="badge--overlay badge-status hide-large badge-price"
                                data-automation="hero-badge">
                                Free
                            </span>
                        </div>
                        <div class="listing-hero listing-hero--bkg clrfix fx--delay-6 fx--fade-in">
                            <picture
                                content="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F116139519%2F112506421457%2F1%2Foriginal.20201028-183748?w=1080&amp;auto=format%2Ccompress&amp;q=75&amp;sharp=10&amp;rect=0%2C0%2C2160%2C1080&amp;s=48f9008009a324530a254155e6b1c234">
                                <source srcset="
                            https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F116139519%2F112506421457%2F1%2Foriginal.20201028-183748?w=480&amp;auto=format%2Ccompress&amp;q=75&amp;sharp=10&amp;rect=0%2C0%2C2160%2C1080&amp;s=16c380eb5cee1828b2254e31bd2a7448 480w,
                            https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F116139519%2F112506421457%2F1%2Foriginal.20201028-183748?w=600&amp;auto=format%2Ccompress&amp;q=75&amp;sharp=10&amp;rect=0%2C0%2C2160%2C1080&amp;s=300111e091cf830b8446fd24a8930709 600w,
                            https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F116139519%2F112506421457%2F1%2Foriginal.20201028-183748?w=800&amp;auto=format%2Ccompress&amp;q=75&amp;sharp=10&amp;rect=0%2C0%2C2160%2C1080&amp;s=fc58ede09b5ffc39187f80351082abe3 800w,
                            https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F116139519%2F112506421457%2F1%2Foriginal.20201028-183748?w=1080&amp;auto=format%2Ccompress&amp;q=75&amp;sharp=10&amp;rect=0%2C0%2C2160%2C1080&amp;s=48f9008009a324530a254155e6b1c234 1080w
                        " sizes="720px">
                                <img class="listing-hero-image js-picturefill-img listing-image--main"
                                    data-automation="listing-hero-image" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="g-cell g-cell-1-1 g-cell-lg-4-12 g-cell--no-gutters listing-hero__detailed-info">
                        <ul class="listing-panel-actions hide-large" role="list">
                            <li>
                                <a class="js-d-bookmark btn btn--collapsible btn--target is-collapsed btn--opaque l-sm-mar-bot-2 listing-panel-actions__btn js-event-like-btn"
                                    data-eid="115127439270" role="listitem" data-bookmarked="false" alt="Like"
                                    aria-label="Like Event" dorsal-guid="7fadd32e-f2a2-cba7-8ded-8f3c0e44b660"
                                    data-xd-wired="bookmark">
                                    <i class="ico-heart"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="l-pad-top-6 l-pad-bot-2 l-lg-pad-bot-4 l-pad-hor-6">
                            <div class="listing-hero-header hide-small ">
                                <time class="listing-hero-date" datetime="2020-11-17">
                                    <p class="js-listing-hero-image--month listing-hero-image--month">Nov</p>
                                    <p class="js-listing-hero-image--day listing-hero-image--day">18</p>
                                </time>
                            </div>
                            <div class="listing-hero-body ">
                                <h1 class="listing-hero-title" data-automation="listing-title">Cooking with Koshiki -
                                    Japanese Comfort Food</h1>
                                <meta content="Cooking with Koshiki - Japanese Comfort Food">
                                <div class="l-mar-top-3">
                                    <div class="l-media clrfix listing-organizer-title">
                                        <div class="l-align-left">
                                            <a href="#listing-organizer"
                                                class="js-d-scroll-to listing-organizer-name text-default"
                                                data-d-duration="1500" data-d-offset="-70"
                                                data-d-destination="#listing-organizer"
                                                dorsal-guid="e2581359-69ad-d75d-7178-756dc09a76d9"
                                                data-xd-wired="scroll-to">
                                                by Seward Community Co-op
                                            </a>
                                            <span
                                                class="js-follow-organizer__container follow-organizer__mini-container"
                                                data-size="mini" data-ga-action-suffix="ListingHero">
                                                <div class="organizer-card__cta"><button
                                                        class="eds-btn eds-btn--button eds-btn--follow eds-btn--follow-mini organizer-card__cta"
                                                        type="button">Follow</button></div>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="js-display-price-container listing-hero-footer hide-small hide-medium"
                                data-automation="micro-ticket-box-price">
                                <div class="js-display-price">
                                    Free
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Listing Card Panel -->
            <div class="listing-panel-wrapper js-listing-panel-wrapper clrfix" role="menu">
                <div class="listing-panel clrfix sticky-listing-panel-placeholder hide-medium hide-small"></div>
                <div class="listing-panel js-sticky-panel sticky-listing-panel sticky clrfix is-unstick">
                    <div class="g-group g-group--page-margin-reset listing-panel-info__buttons-and-status">
                        <div
                            class="g-cell g-cell-1-1 g-cell-md-4-12 g-cell-lg-3-12 hide-medium hide-small listing-panel__g-cell">
                            <h2 class="is-hidden-accessible hide-small">Actions and Detail Panel</h2>
                            <ul class="listing-panel-actions" role="list">
                                <li class="fx--fade-in-down fx--duration-1 fx--delay-12" role="listitem">
                                    <a href="#"
                                        class="js-d-tooltip btn btn--target btn--collapsible js-share-listing-button listing-panel-actions__btn"
                                        role="button" alt="Share" title="" data-trigger="hover"
                                        data-d-disabled-in-touch="true" data-placement="bottom" data-container="body"
                                        aria-haspopup="true" aria-label="Share this event"
                                        data-automation="share-event-modal-btn"
                                        dorsal-guid="97909ebb-e731-8271-ea3c-0cf0647b2940"
                                        data-original-title="Share Event" data-xd-wired="tooltip"><i
                                            class="ico-share"></i></a>
                                </li>
                                <li class="fx--fade-in-down fx--duration-2 fx--delay-14" role="listitem">
                                    <a href="#"
                                        class="js-d-bookmark js-d-tooltip btn btn--target btn--collapsible is-collapsed l-sm-mar-bot-2 js-event-like-btn"
                                        data-automation="bookmark-link" role="button" data-eid="115127439270"
                                        data-bookmarked="false" alt="Like Event" title="" data-trigger="hover"
                                        data-d-disabled-in-touch="true" data-placement="bottom" data-container="body"
                                        aria-label="Like Event" aria-haspopup="true"
                                        dorsal-guid="730c0f6c-9f63-835c-e4d4-0932329cdb6d"
                                        data-original-title="Like Event" data-xd-wired="tooltip bookmark">
                                        <i class="ico-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="g-cell g-cell-1-1 g-cell-lg-5-12 listing-panel__g-cell">
                            <div class="l-pad-vert-1 l-lg-pad-vert-0 l-lg-pad-right-2">
                                <div class="listing-panel-info__price-or-status">
                                    <div
                                        class="listing-panel-info__display-price is-truncated js-panel-display-price-container hide-large">
                                        <div class="js-panel-display-price">
                                            Free
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g-cell g-cell-1-1 g-cell-lg-4-12 g-cell--no-gutters">
                            <div class="l-sm-pad-top-1">
                                <div
                                    class="listing-panel-info fx--delay-18 fx--fade-in js-listing-panel-info-event-header">
                                    <div class="micro-ticket-box
">
                                        <div class="micro-ticket-box__body js-micro-ticket-box__body
">
                                            <span class="js-micro-order-container  ">
                                                <span class="micro-ticket-box__btn-wrapper">
                                                    <a class="micro-ticket-box__btn btn btn--epic btn--responsive  js-embed-ticket-modal-btn "
                                                        href="#" routerLink="/register">Register</a>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Listing Card Info -->
            <section class="listing-info clrfix pb-4">
                <header class="listing-info__header l-md-pad-top-2  g-group g-group--page-margin-reset">
                    <div class="g-cell g-cell-1-1 g-cell-lg-8-12 g-offset-lg-2-12 listing-info__header-container">
                        <h2 class="is-hidden-accessible hide-small">Event Information</h2>
                        <div class="g-cell g-cell-1-1 show-small hide-medium hide-large">
                            <div class="event-details">
                                <div class="g-group l-mar-vert-6">
                                    <div class="g-cell g-cell-2-12 g-cell--no-gutters">
                                        <i class="ico-calendar ico--medium"></i><span class="is-hidden-accessible">Share
                                            this event</span>
                                    </div>
                                    <div class="g-cell g-cell-10-12 g-cell--no-gutters">
                                        <h3 class="label-primary l-mar-bot-2">Date and Time</h3>
                                        <div class="event-details__data">
                                            <meta content="2020-11-17T18:00:00-06:00">
                                            <meta content="2020-11-17T20:00:00-06:00">
                                            <time class="clrfix" data-automation="event-details-time">
                                                <p class="js-date-time-first-line">Wed, November 18, 2020</p>
                                                <p class="js-date-time-second-line">2:00 AM – 4:00 AM EET</p>
                                            </time>
                                        </div>
                                    </div>
                                </div>
                                <div class="g-group l-mar-top-6 l-md-mar-bot-4 l-lg-mar-bot-6">
                                    <div class="g-cell g-cell-2-12 g-cell--no-gutters">
                                        <i class="ico-location ico--medium"></i><span
                                            class="is-hidden-accessible">Location</span>
                                    </div>
                                    <div class="g-cell g-cell-10-12 g-cell--no-gutters">
                                        <h3 class="label-primary l-mar-bot-2">Location</h3>
                                        <div class="event-details__data">
                                            <p>Online Event</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div
                    class="listing-info__body l-sm-pad-vert-0 l-sm-pad-vert-6 clrfix g-group g-group--page-margin-reset">
                    <div class="g-cell g-cell-1-1 g-cell-lg-11-12 g-offset-lg-1-12 l-mar-stack l-section-stack">
                        <div class="g-group">
                            <div class="g-cell g-cell-1-1 g-cell-md-7-12 g-cell--no-gutters l-lg-pad-right-6">
                                <div class="g-group l-lg-mar-bot-6 l-md-mar-bot-4  ">
                                    <div class="g-cell g-cell-2-12 show-small">
                                        <i class="ico-document ico--medium"></i><span class="is-hidden-accessible">Event
                                            description</span>
                                    </div>
                                </div>
                                <div class="g-group l-mar-bot-6 l-sm-mar-bot-4">
                                    <div class="g-cell g-cell-2-12 show-small">
                                    </div>
                                    <div class="structured-content g-cell g-cell-10-12 g-cell-md-1-1">
                                        <h2 class="text-body-large hide-small pt-4">
                                            About this Event
                                        </h2>
                                        <div class="has-user-generated-content" data-automation="about-this-event-sc">
                                            <div
                                                class="structured-content-rich-text structured-content__module l-align-left l-mar-vert-6 l-sm-mar-vert-4 text-body-medium">
                                                <p>Nothing is more satisfying than the comfort food you grew up eating:
                                                    Tonjiru (miso soup with pork and root vegetables), Onigiri (rice
                                                    balls), and Sukiyaki Style Beef and Tofu. These recipes are healthy
                                                    and comfort food I grew up eating in my Japanese grandma’s kitchen
                                                    and continue to cook for my family. Learn the comfort food of Japan
                                                    with me. </p>
                                                <p>Koshiki Smith, <a href="https://thejapanesekitchen.com/"
                                                        target="_blank" rel="nofollow noopener noreferrer">The Japanese
                                                        Kitchen</a></p>
                                                <p><em>Free virtual class- Please RSVP in advance. You will receive a
                                                        Zoom link and recipe before the day of the class.</em></p>
                                                <p><strong><em>Note: </em></strong><em>Emails with Zoom links are sent
                                                        in advance of our virtual classes via Eventbrite. Eventbrite
                                                        emails sometimes end up in junk/spam folders- if you have not
                                                        received a link prior to class, please check your spam folder.
                                                    </em></p>
                                                <p></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="g-cell g-cell-12-12 g-cell-md-4-12 g-offset-md-1-12 g-cell--no-gutters l-lg-pad-left-6">
                                <div class="event-details hide-small">
                                    <h3 class="label-primary l-mar-bot-2" data-automation="listing-info-language">Date
                                        and Time</h3>
                                    <div class="event-details__data">
                                        <meta content="2020-11-17T18:00:00-06:00">
                                        <meta content="2020-11-17T20:00:00-06:00">
                                        <time class="clrfix" data-automation="event-details-time">
                                            <p class="js-date-time-first-line">Wed, November 18, 2020</p>
                                            <p class="js-date-time-second-line">2:00 AM – 4:00 AM EET</p>
                                            <p class="hide-small hide-medium">
                                                <a class="js-add-to-calendar-modal js-d-dialog-trigger"
                                                    href="#add-to-calendar-modal" data-automation="add-to-calendar"
                                                    role="button" aria-haspopup="true"
                                                    dorsal-guid="56f9defa-9799-ea02-ba91-4a89f06ab992"
                                                    data-xd-wired="dialog-trigger">Add to Calendar</a>
                                            </p>
                                        </time>
                                    </div>
                                    <h3 class="label-primary l-mar-bot-2">Location</h3>
                                    <div class="event-details__data">
                                        <p class="eds-text-weight--heavy">Online Event</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="js-listing-social-stream"></div>
                <div class="js-defer-map"></div>
            </section>
        </div>
    </div>
</div>