  <div class="row col-md-12">
    <div class="col-md-6 pb-4" *ngFor="let mentor of mentorDate">
      <div class="card shadow h-100 py-2">
        <div class="card-body" style="display: flex;">
            <div class="float-left pr-2">
              <div class="text-center">
                <div class="p-2" *ngIf="mentor.profile.photo">
                  <img  class="img-circle" style="border-radius: 50%;width: 110px;height:110px;"
                  [src]="mentor.profile.photo" title="{{mentor.name}}">
                </div>

                <div class="p-2" *ngElse>
                  <img  class="img-circle" style="border-radius: 50%;width: 110px;height:110px;"
                  src="https://img.freepik.com/free-vector/businessman-profile-cartoon_18591-58479.jpg?size=338&ext=jpg" title="{{mentor.name}}">
                </div>

                
                <div class="rate p-2" style="color: black;" *ngIf="mentor.job">
                  <strong>{{mentor.job ? (mentor.job.session_price | currency) : ''}}</strong>
                  <small>/{{mentor.job ? mentor.job.session_duration : ''}} {{mentor.job ? (mentor.job.session_duration_type | uppercase) : ''}}</small>
                </div>

                  <a class="btn btn-success view"  routerLink="/mentor/profile/{{mentor.id}}">
                    View Profile
                  </a>
                

              </div>
            </div>
            <div class="float-right pl-1" >
                <div style="display: flex;">
                  <a class="name" href="#">
                    {{mentor.name}}
                  </a>
                  <span class="ratingNum">
                    {{mentor.rate}}.0
                  </span>
                  <div class="ratings">
                    <span *ngFor="let i of Arr(mentor.rate).fill(1)"> ★ </span>
                  </div>

                    <span class="online">
                      <i class="fa fa-circle"></i>ONLINE
                    </span>
                </div>
                <div class="headLine" *ngIf="mentor.job">
                  <small>
                    {{ mentor.job ? mentor.job.current_job : ''}} at {{ mentor.job ? mentor.job.current_company : ''}}
                  </small>
                </div>
                <div class="language" *ngIf="mentor.job">
                  <div class="badge customizeBadge m-2"  *ngFor="let lang of mentor.job.available_langs">
                    <span class="removeDec" >
                      {{lang}}
                    </span>
                  </div>
                  
                </div>
                <div class="about">
                  {{mentor.job ? mentor.job.brief : ''}}
                </div>
                <div class="expertise">

                  <div class="badge skill m-2" *ngFor="let skill of mentor.skills">
                    <a class="removeDec" href="#">
                      {{skill.skill_name}}
                    </a>
                  </div>
               
                 
                </div>
              
                
                <div class="schedule">
                  <a class="btn btn-primary" style="border-bottom: none;color: aliceblue;
                  border-radius: 4px;
                  padding: 0.2 .8em 0.2 .8em;
                  min-width: 180px;" routerLink="/">
                    Schedule Meeting
                  </a>
                </div>
               
            </div>
        </div>
      </div>
    </div>
  </div>
