 <!-- DataTales Example -->
 <div class="card shadow m-4">
    <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Education Data</h6>
            <button routerLink="/user/education-data/add" class="m-0 btn btn-primary" style="float:right;">Add Education</button>
    </div>
    <div class="card-body">

      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead style="background-color: cornflowerblue; color: cornsilk;">
            <tr>
              <th>Education Name</th>
              <th>University</th>
              <th>Faculty</th>
              <th>Department</th>
              <th>Degree</th>
              <th>Present</th>
              <th>Start date</th>
              <th>End date</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Education Name</th>
              <th>University</th>
              <th>Faculty</th>
              <th>Department</th>
              <th>Degree</th>
              <th>Present</th>
              <th>Start date</th>
              <th>End date</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let education of educationsData">
                <td>{{education.education_name}}</td>
                <td>{{education.university}}</td>
                <td>{{education.faculty}}</td>
                <td>{{education.department}}</td>
                <td>{{education.degree}}</td>
                <td>{{education.present? "still learning" : "end learning"}}</td>
                <td>{{education.start_date}}</td>
                <td>{{education.end_date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
